<template>
  <div class="min-h-50 text-NotoSansLight max-w-5xl mx-auto px-4 py-4" :class="{ isNoticeHead: !$store.state.isIndexTopNotice, mainBody: $store.state.isIndexTopMainBody }">
    <Breadcrumb class="md:hidden" :title="'每日一句'" />
    <div class="title mb-8">
      <h3 class="text-xl textColorRed text-center border borderRed py-1 block text-NotoSansRegular">每日一句</h3>
    </div>
    <div v-if="dailyData">
      <div class="content xl:px-0 mb-10">
        <div class="search flex flex-col md:flex-row md:items-center">
          <label for="search" class="mr-1 mb-2 md:mb-0 text-md">關鍵字搜尋</label>
          <input v-on:keyup.13="search" autocomplete="off" v-model="searchVal" type="text" class="cursor-text py-1 focus:outline-none border px-2 mb-2 md:mb-0 border-gray-400" placeholder="Search..." name="search">
          <a class="button-search px-4 py-1 md:ml-2 border cursor-pointer text-md text-center" @click="search">送出</a>
        </div>
        <div class="list mt-6">
          <table class="table-auto w-full textColorDarkBlack">
            <thead>
              <tr>
                <th class="border px-4 py-2 border-gray-600 text-base text-md">日期</th>
                <th class="border px-4 py-2 w-full text-left border-gray-600 text-base text-md">學習內容</th>
              </tr>
            </thead>
            <tbody class="text-md">
              <tr v-for="(item, index) in dailyData" :key="index">
                <td class="border px-4 py-2 border-gray-600">{{ moment(item.publish_at).format('YYYY/MM/DD') }}</td>
                <td class="border border-gray-600 cursor-pointer">
                  <a @click.prevent="PlayAudio(index, item.audio_url)" class="cursor-pointer px-4 py-2 block" v-if="item.audio_url">
                    <div class="md:flex items-center cursor-pointer">
                      <div class="mr-2">
                        <font-awesome-icon :icon="['far', 'pause-circle']" class="text-2xl" v-if="playIdx === index && isPlaying" />
                        <font-awesome-icon :icon="['far', 'play-circle']" class="text-2xl" v-else />
                        <audio :id="'audio' + index" :src="item.audio_url" :ref="'audioplayer' + index"></audio>
                      </div>
                      <div>
                        <p class="chinese">【{{ item.category_name }}】{{ item.local }}</p>
                        <p class="english">{{ item.english }}</p>
                      </div>
                    </div>
                  </a>
                  <a class="px-4 py-2 block cursor-default" v-else>
                    <div class="md:flex items-center">
                      <div>
                        <p class="chinese">【{{ item.category_name }}】{{ item.local }}</p>
                        <p class="english">{{ item.english }}</p>
                      </div>
                    </div>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

        <PaginateComponent :pagination="pagination" v-on:pageChangeHandler="pageChangeHandler" />

    </div>
    <img src="~@/assets/icon/Pulse.gif" class="h-12 mt-12 mx-auto" v-else>
  </div>
</template>
<script>
import axios from 'axios'
import PaginateComponent from '@/components/modules/Paginatation'
import Breadcrumb from '@/components/modules/Breadcrumb'
export default {
  name: 'DailySentence',
  data () {
    return {
      dailyData: null,

      searchVal: null,

      isPlaying: false,
      playIdx: null,

      // pagination
      pageSize: 10,
      pagination: {
        currentPage: 1,
        length: 5
      }
    }
  },
  components: {
    PaginateComponent,
    Breadcrumb
  },
  mixins: [
  ],
  computed: {
  },
  mounted () {
    this.getData()
  },
  updated () {
  },
  methods: {
    getData () {
      let self = this
      let dataObj = {
        params: {}
      }
      if (self.searchVal) {
        dataObj.params.query = self.searchVal
      }
      axios.get(`/daily-sentences?page=${self.pagination.currentPage}&pageSize=${self.pageSize}`, dataObj)
        .then((response) => {
          self.pagination.length = response.data.last_page
          self.dailyData = response.data.data
        })
    },
    async search () {
      let self = this
      await self.getData()
      self.pageChange()

      self.playIdx = null
      self.pauseAudio()
    },
    async pageChangeHandler (pageChangeHandler) {
      let self = this
      self.pagination.currentPage = pageChangeHandler
      self.productData = null

      self.getData()
    },
    async PlayAudio (index) {
      let self = this
      await self.pauseAudio()

      let audioplayer = self.$refs['audioplayer' + index][0]
      if (index === self.playIdx) {
        audioplayer.pause()
        audioplayer.currentTime = 0
        self.isPlaying = false
        self.playIdx = null
      } else if (index !== self.playIdx) {
        self.playIdx = index
        audioplayer.play()
        self.isPlaying = true
      }

      audioplayer.onplaying = () => {
        self.isPlaying = true
      }
      audioplayer.onpause = () => {
        self.isPlaying = false
      }
    },
    pauseAudio () {
      let self = this
      for (let i = 0; i < self.dailyData.length; i++) {
        self.$refs['audioplayer' + i][0].pause()
        self.$refs['audioplayer' + i][0].currentTime = 0
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.title {
  width: 6.5rem;
}
.button-search {
  background-color: white;
  border-color: #cbd5e0;
  color: #434343;
  transition: 0.3s;
  &:hover {
    background-color: #434343;
    border-color: white;
    color: white;
  }
  &:focus {
    outline: none !important;
  }
}
</style>
