<template>
  <nav class="breadcrumb block text-sm">
    <ol class="breadcrumb-list">
      <!-- <li class="breadcrumb-item"><router-link :to="{ name: 'index' }">首頁</router-link>
      </li> -->
      <li class="breadcrumb-item">
        <router-link :to="{ name: 'magHouse' }">雜誌館</router-link>
      </li>
      <li class="breadcrumb-item" v-if="cateData || localStorageData">
        <router-link v-if="$route.name === 'lesson'" :to="{ name: toRouterName, params: { categoryId: localStorageData.id } }">{{ localStorageData.name }}</router-link>
        <a v-else>{{ cateData.name }}</a>
      </li>
      <li class="breadcrumb-item" v-if="$route.name === 'lesson'">
        <a>課程單元</a>
      </li>
    </ol>
  </nav>
</template>

<script>
/* eslint-disable no-unused-expressions */
import axios from 'axios'
export default {
  name: 'Breadcrumb',
  data () {
    return {
      cateData: null
    }
  },
  computed: {
    localStorageData () {
      if (this.$route.name === 'lesson' && localStorage.getItem('cateData')) {
        return JSON.parse(localStorage.getItem('cateData'))
      } else {
        return ''
      }
    },
    toRouterName () {
      let arr = ['ABC', 'ALL', 'Live', 'CNN', 'biz', 'JPN']
      if (arr.indexOf(this.localStorageData.id) > -1) {
        return 'classList'
      } else {
        return 'themeList'
      }
    }
  },
  mounted () {
    this.$route.name === 'themeList' ? this.geCategory() : null
    this.$route.name === 'classList' ? this.geMagData() : null
  },
  methods: {
    async geCategory () {
      // 主題
      let self = this
      let { data } = await axios.get(`/livelibrary/TravelTaiwan/Category`)
      self.cateData = data.data[Number(self.$route.params.categoryId) - 1]
      localStorage.setItem('cateData', JSON.stringify(data.data[Number(self.$route.params.categoryId) - 1]))
    },
    async geMagData () {
      // 雜誌
      let self = this
      let { data } = await axios.get(`/livelibrary/Mag/${self.$route.params.categoryId}`)
      self.cateData = data.data
      localStorage.setItem('cateData', JSON.stringify(data.data))
    }
  }
}
</script>

<style lang="scss" scoped>
  .breadcrumb-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 1rem 0 0 0;
    list-style: none;
    li {
      letter-spacing: 0.125rem;
      text-transform: uppercase;
      a {
        color: #888888;
        text-decoration: none;
        transition: all 0.2s ease;
        &:hover {
          color: #333;
        }
      }
    }
  }
  .breadcrumb-item + .breadcrumb-item::before {
    content: "/";
    display: inline-block;
    padding: 0 0.5rem;
    color: #d5d5d5;
  }
</style>
