<template>
  <section class="h-full">
    <!-- <div class="ClassModule relative h-full w-full sm:hidden borderRed border-b-2">
      <div class="flex">
        <router-link :to="{ name: 'lesson', params: { type: typeId, id: classData.lessonId } }" class="cursor-pointer w-1/4 block">
          <div class="outer">
            <div class="inner mx-auto absolute w-full h-full">

              <img
                class="w-full h-full block object-cover"
                v-lazy="computedCover"
                :alt="classData.name"
              >
            </div>

          </div>
        </router-link>
          <div class="bg-white flex flex-col justify-between leading-normal w-3/4 px-2">
            <div class="itemName mb-2">
              <div class="title text-sm">
                <h5 class="text-NotoSansRegular whitespace-pre-wrap textColorblack font-bold tracking-wider">{{ classData.nameCht }}</h5>
                <h6 class="text-NotoSansRegular whitespace-pre-wrap textColorblack tracking-wider" v-html="forceToJap(classData.nameEn)"></h6>
              </div>
            </div>
          </div>
      </div>
      <div class="level flex justify-between px-2 py-2 text-sm">
        <p>Date: {{ classData.year }}.{{ classData.month }}</p>
        <p v-if="classData.level">Level: {{ classData.level }}</p>
      </div>
    </div> -->
    <div class="ClassModule overflow-hidden relative h-full flex-col justify-between web hidden sm:flex bg-library shadow-md">
      <router-link :to="{ name: 'lesson', params: { type: typeId, id: classData.lessonId } }" class="cursor-pointer">
        <div class="outer overflow-hidden">
          <div class="inner mx-auto absolute w-full h-full">

            <img
              class="w-full h-full block object-cover"
              v-lazy="computedCover"
              :alt="classData.name"
            >
          </div>

        </div>
      </router-link>
      <div class="flex-grow flex flex-col justify-between p-2">
        <div class="w-full flex flex-col justify-between leading-normal">
          <div class="itemName mb-2">
            <div class="title text-base">
              <h5 class="text-NotoSansRegular whitespace-pre-wrap font-bold mb-1 tracking-wider">{{ classData.nameCht }}</h5>
              <h6 class="text-NotoSansRegular whitespace-pre-wrap tracking-wider" v-html="forceToJap(classData.nameEn)"></h6>
            </div>
          </div>
        </div>
      </div>
      <div class="level flex justify-between px-2 flex-col md:flex-row py-2">
        <p>Date: {{ classData.year }}.{{ classData.month }}</p>
        <p v-if="classData.level">Level: {{ classData.level }}</p>
      </div>

    </div>
  </section>
</template>
<script>
/* eslint-disable no-unused-expressions */
import axios from 'axios'
import langMixin from '@/components/modules/langMixin'
export default {
  name: 'ClassModule',
  props: {
    classData: {
      type: Object
    }
  },
  data () {
    return {
    }
  },
  mixins: [
    langMixin
  ],
  computed: {
    typeId () {
      if (this.$route.name === 'classList' || this.$route.name === 'themeList') {
        return this.$route.params.categoryId
      } else if (this.$route.name === 'lesson') {
        return this.$route.params.type
      } else {
        return ''
      }
    },
    computedCover () {
      let self = this
      if (self.classData && self.classData.cover) {
        return self.classData.cover
      } else {
        return require('@/assets/images/preset_item.png')
      }
    }
  },
  methods: {
    async checkClass () {
      let self = this
      self.$store.dispatch('isLoading', true)

      let { data } = await axios.get(`/livelibrary/Lesson/${self.classData.lessonId}`)
      console.log(data)

      if (data && data.data.lessons) {
        self.$router.push({ name: 'lesson', params: { type: self.typeId, id: data.data.id } })
        self.$store.dispatch('isLoading', false)
      }

      if (data && data.data.lessonType !== 'Package' && !data.data.lessons) {
        window.location.href = 'https://api.liveabc.com/app/lesson/' + data.data.id
        self.$store.dispatch('isLoading', false)
      }
    }
  }
}
</script>
<style lang="scss">
  .web {
    &:hover {
      img {
        transform: scale(1.2);
        transform-origin: center;
      }
    }
  }
  .ClassModule {
    .progressiveImg {
      overflow: visible;
    }
    .item_borderB {
      border-bottom-width: 1px !important;
    }
    .outer {
      position: relative;
      width: 100%;
      background:white;
      display: block;
      &:after {
        content: "";
        display: block;
        padding-bottom: 60%;
        margin-bottom: 10px;
      }
      .inner {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        img {
          transition: .3s;
        }
      }
    }
    .itemName {
      .title {
        h5 {
          color: #5F5F5F;
          overflow:hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          white-space: normal;
        }
      }
    }
    .level {
      p {
        color: #5F5F5F;
      }
    }
  }
  .bg-library {
    background-color: #F7F7F5;
  }
</style>
