<template>
  <footer class="bgLiveBlack py-6 w-full">
    <p class="text-white text-center tracking-wider font-light textWeightMed">版權所有 2020 LiveABC互動英語教學集團 | Hebron Soft Limited All Rights Reserved</p>
  </footer>
</template>

<script>
// import axios from 'axios'
export default {
  name: 'FooterSection',
  props: {
  },
  methods: {
  }
}
</script>

<style lang="scss" scoped>
</style>
