<template>
  <div class="flex flex-wrap mb-6" id="MagModule">
    <div class="w-full sm:w-1/12 mb-2" v-if="magData !== {}">
      <img :src="magData.horizontalCover || magData.cover" class="object-contain w-full block">
    </div>
    <div class="w-full md:w-11/12 md:px-4" v-if="magData !== {}">
      <h4 class="text-xl md:text-2xl">{{ magData.name }}</h4>
      <h5 class="md:text-xl">{{ magData.description }}</h5>
    </div>
  </div>
</template>
<script>
export default {
  name: 'MagModule',
  data () {
    return {
    }
  },
  props: {
    magData: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  components: {
  },
  watch: {
  },
  computed: {
  },
  methods: {
  }
}
</script>
<style lang="scss" scoped>
  #MagModule {
    min-height: 10rem;
  }
</style>
