<template>
  <div class="flex flex-wrap">
    <div class="w-full md:w-1/2 px-4 md:px-6">
      <img :src="data.cover" class="block object-contain w-full">
      <h4>{{ data.localName }}</h4>
      <h5>{{ data.name }}</h5>
    </div>
    <div class="w-full md:w-1/2 px-1">
      <router-link :to="{ name: 'lesson', params: { id: item.id } }" class="effect effect-1 border textColorDarkBlack borderColorDarkGray" href="#" title="Learn More" v-for="(item, index) in data.lessons" :key="index">
        <p><span>0{{ index + 1 }}.</span>{{ item.localName }}</p>
        <p>{{ item.name }}</p>
      </router-link>
    </div>
  </div>
</template>

<script>
/* eslint-disable no-unused-expressions */
// import axios from 'axios'

export default {
  name: 'PackageModule',
  data () {
    return {
    }
  },
  props: {
    data: {
      type: Object
    }
  },
  components: {

  },
  mounted () {
  },
  computed: {
  },
  methods: {
  }
}
</script>

<style lang="scss" scoped>
  .effect {
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    padding: 20px 0px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
  }
  .effect.effect-1 {
    transition: all 0.2s linear 0s;
    &:before {
      content: "➜";
      font-size: 18px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 0;
      top: 0;
      opacity: 0;
      height: 100%;
      width: 40px;
      transition: all 0.2s linear 0s;
    }
    &:hover {
      text-indent: -20px;
      &:before {
        opacity: 1;
        text-indent: 0px;
      }
    }
  }
</style>
