<template>
<div class="dropdown btn-group">
  <button id="CourseStatusSelector" role="button" aria-haspopup="true" aria-expanded="false" type="button" class="dropdown-toggle btn btn-default" style="min-width: 140px;">所有課程
    <span class="caret"></span>
  </button>
    <ul role="menu" class="dropdown-menu" aria-labelledby="CourseStatusSelector">
      <li role="presentation" class="">
        <a role="menuitem" tabindex="-1" href="#">雜誌主題館</a>
      </li>
    </ul>
</div>
</template>
<script>
// import axios from 'axios'
export default {
  name: 'SwitchButton',
  props: {
    magData: {
      type: Object
    }
  },
  data () {
    return {
    }
  },
  mixins: [
  ],
  computed: {
  },
  methods: {
  }
}
</script>
<style lang="scss" scoped>

</style>
