<template>
  <div id="account" class="mb-6 text-NotoSansRegular textColorDarkBlack">
    <div class="max-w-xl mx-auto">
      <h3 class="text-base lg:text-lg pb-1 border-b md:border-b-0 md:text-center mb-8 pt-3 px-2">
        帳號管理
      </h3>

      <form class="w-full px-2 mb-8">
        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4">
            <label class="block text-gray-900 text-sm lg:text-base mb-1 md:mb-0 pr-4" for="email">
              會員帳號
            </label>
          </div>
          <div class="md:w-3/4">
            <input readonly class="text-sm appearance-none border-0 rounded w-full py-3 px-4 leading-tight focus:outline-none"
              id="account" type="text" :value="$store.state.auth.user.email">
          </div>
        </div>
        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4">
            <label class="block text-gray-900 text-sm lg:text-base mb-1 md:mb-0 pr-4" for="name">
              會員姓名
            </label>
          </div>
          <div class="md:w-3/4">
            <input class="text-sm appearance-none border border-gray-500 rounded w-full py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-900"
              id="name" type="text" v-model="userData.name" maxlength="20">
          </div>
        </div>
        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4">
            <label class="block text-gray-900 text-sm lg:text-base mb-1 md:mb-0 pr-4" for="subscriber-name">
              會員生日
            </label>
          </div>
          <div class="md:w-3/4">
            <date-picker :input-class="computedClass" v-model="userData.birth" valueType="format" type="date" :disabled-date="disabledDate"></date-picker>
          </div>
        </div>
        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4">
            <label class="block text-gray-900 text-sm lg:text-base mb-1 md:mb-0 pr-4" for="company-phone">
              手機號碼
            </label>
          </div>
          <div class="md:w-3/4">
            <input class="text-sm appearance-none border border-gray-500 rounded w-full py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-900"
              id="company-phone" type="text" value="" v-model="userData.mobile" placeholder="ex: 0900123456" maxlength="10">
          </div>
        </div>
        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4">
            <label class="block text-gray-900 text-sm lg:text-base mb-1 md:mb-0 pr-4" for="company-tel">
              住家電話
            </label>
          </div>
          <div class="md:w-3/4">
            <input class="text-sm appearance-none border border-gray-500 rounded w-full py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-900"
              id="company-tel" type="text" value="" v-model="userData.tel" placeholder="ex: 02-21234567">
          </div>
        </div>
        <div class="md:flex md:items-center mb-2">
          <div class="md:w-1/4">
            <label class="block text-gray-900 text-sm lg:text-base mb-1 md:mb-0 pr-4" for="address">
              聯絡地址
            </label>
          </div>
            <div class="md:w-3/4">
              <Address
                v-on:getAddress="getAddress"
                :userCity="userData.city"
                :userDistrict="userData.district"
              />
            </div>
        </div>
        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4 hidden md:block">
            <label class="block text-gray-900 text-sm lg:text-base mb-1 md:mb-0 pr-4 opacity-0" for="lastAddress">
              聯絡地址
            </label>
          </div>
          <div class="md:w-3/4">
            <input v-model="userData.address" class="text-sm appearance-none border border-gray-500 rounded w-full py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-900"
              id="lastAddress" type="text" value="" name="address">
          </div>
        </div>

        <div class="md:flex md:items-center mb-4" v-if="loveCode">
          <div class="md:w-1/4">
            <label class="block text-gray-900 text-sm lg:text-base mb-1 md:mb-0 pr-4" for="loveCode">
              受贈機關或團體
            </label>
          </div>
          <div class="md:w-3/4 relative text-sm">
            <VueSelectComponent
            :data="loveCode"
            :userDonation="invoice_donation"
            v-on:inputLoveCode="inputLoveCode"
            :clearable="false"
            class="donat-selector border rounded border-gray-500 py-3 px-2" />
          </div>
        </div>

        <div class="flex items-center mb-8">
          <div class="w-full flex md:justify-end px-1 md:px-2">
            <button @click="editProfile" class="cursor-pointer button-red text-white py-2 px-12 rounded w-full md:w-auto" type="button">
              更新資料
            </button>
          </div>

        </div>
      </form>

      <form class="w-full px-2">
        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4">
            <label class="block text-gray-900 text-sm lg:text-base mb-1 md:mb-0 pr-4" for="newPwd">
              新密碼
            </label>
          </div>
          <div class="md:w-3/4">
            <input class=" appearance-none border border-gray-500 rounded w-full py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-900 text-sm"
              id="newPwd" type="password" v-model="password" autocomplete="old-passwor" maxlength="15" placeholder="請輸入8碼至15碼英數字">
          </div>
        </div>
        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4">
            <label class="block text-gray-900 text-sm lg:text-base mb-1 md:mb-0 pr-4" for="passwordCheck">
              確認新密碼
            </label>
          </div>
          <div class="md:w-3/4">
            <input class=" appearance-none border border-gray-500 rounded w-full py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-900 text-sm"
              id="passwordCheck" type="password" v-model="passwordCheck" autocomplete="check-password" maxlength="15" placeholder="再次輸入密碼">
          </div>
        </div>
        <div class="flex items-center mb-8">
          <div class="w-full flex md:justify-end px-1 md:px-2">
            <button class="cursor-pointer button-red text-white py-2 px-12 rounded w-full md:w-auto"
              type="button" @click="editPwd">
              變更密碼
            </button>
          </div>

        </div>
      </form>

    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import axios from 'axios'
import DatePicker from 'vue2-datepicker'
import 'vue2-datepicker/index.css'
import Address from '@/components/modules/AddressSection.vue'
import Regex from '@/components/modules/regex'
import VueSelectComponent from '@/components/checkout/VueSelect'

export default {
  name: 'Account',
  data () {
    return {
      userData: {
        name: '',
        mobile: '',
        tel: '',
        email: '',
        birth: '',
        city: '',
        district: '',
        zip_code: '',
        address: ''
      },
      oldPassword: null,
      password: null,
      passwordCheck: null,
      isSuccess: false,
      disabledDate (date) {
        return date > new Date()
      },
      // 電子發票捐贈
      loveCode: null,
      invoice_donation: '001'
    }
  },
  components: {
    DatePicker,
    Address,
    VueSelectComponent
  },
  mixins: [
    Regex
  ],
  computed: {
    ...mapGetters([
      'authorized',
      'userRole',
      'user'
    ]),
    computedClass () {
      return 'py-3 w-full focus:outline-none text-sm text-NotoSansRegular'
    },
    env () {
      return process.env.NODE_ENV
    }
  },
  mounted () {
    this.setData()
    this.getlovecode()
  },
  methods: {
    getlovecode () {
      let self = this
      axios.get('/cart/lovecode/list')
        .then((response) => {
          self.loveCode = response.data
        })
    },

    setData () {
      let self = this
      if (self.user) {
        self.userData.name = self.user.name ? self.user.name : ''
        self.userData.email = self.user.email ? self.user.email : ''
        self.userData.birth = self.user.birth ? self.user.birth : ''

        self.invoice_donation = self.user.invoice_donation && typeof self.user.invoice_donation === 'string' ? self.user.invoice_donation : '001'

        if (self.user.address) {
          self.userData.city = self.user.address.city ? self.user.address.city : null
          self.userData.district = self.user.address.district ? self.user.address.district : null
          self.userData.tel = self.user.address.tel ? self.user.address.tel : ''
          self.userData.address = self.user.address.address ? self.user.address.address : ''
        }

        if (self.user.address && self.user.address.mobile) {
          self.userData.mobile = self.user.address.mobile
        } else if (self.user.mobile) {
          self.userData.mobile = self.user.mobile
        } else {
          self.userData.mobile = ''
        }
      }
    },

    getAddress (getAddress) {
      let self = this
      self.userData.city = getAddress.city
      self.userData.district = getAddress.district
      self.userData.zip_code = getAddress.zip_code
    },

    async editProfile () {
      let self = this
      if (self.userData.mobile && self.userData.birth && self.userData.name && self.userData.tel && self.userData.city && self.userData.district && self.userData.address && self.rexMobile(self.userData.mobile)) {
        // 基本資料
        let profData = {
          name: self.userData.name,
          birth: self.userData.birth,
          tel: self.userData.tel,
          invoice_donation: self.invoice_donation
        }
        await axios.patch('/user/me', profData)
          .then(() => {
            self.isSuccess = true
            self.$store.dispatch('getProfile')
          })
          .catch(() => {
            self.isSuccess = false
          })

        // 地址
        if ((self.user && self.user.address.city && self.user.address.district && self.user.address) && (self.userData.city && self.userData.district && self.userData.address)) {
          // 更新地址
          let editData = {
            city: self.userData.city,
            district: self.userData.district,
            address: self.userData.address,
            zip_code: self.userData.zip_code,
            tel: self.userData.tel ? self.userData.tel : '',
            mobile: self.userData.mobile
          }
          await axios.patch(`/user/recipients/${self.user.address.id}`, editData)
            .then(() => {
              self.isSuccess = true
              self.$store.dispatch('getProfile')
            })
            .catch((error) => {
              self.isSuccess = false
              console.log(error)
            })
        } else if (!self.user.address && self.userData.city && self.userData.district && self.userData.address) {
          // 新增地址
          let addData = {
            name: self.userData.name,
            city: self.userData.city,
            district: self.userData.district,
            address: self.userData.address,
            zip_code: self.userData.zip_code,
            tel: self.userData.tel ? self.userData.tel : '',
            mobile: self.userData.mobile
          }
          await axios.post('/user/recipients', addData)
            .then(() => {
              self.isSuccess = true
              self.$store.dispatch('getProfile')
            })
            .catch((error) => {
              self.isSuccess = false
              console.log(error)
            })
        }

        if (self.isSuccess) {
          self.$store.dispatch('updateAlert', { isAlert: true, isHead: true, alertMsg: '會員修改成功!', type: 'check' })
        } else {
          self.$store.dispatch('updateAlert', { isAlert: true, isHead: true, alertMsg: '會員修改失敗!', type: 'alert' })
        }
      } else {
        self.$store.dispatch('updateAlert', { isAlert: true, isHead: true, alertMsg: '欄位空白或格式錯誤', type: 'alert' })
      }
    },

    async editPwd () {
      let self = this
      if (self.checkPwdEqual(self.password, self.passwordCheck) && self.rexPassword(self.password)) {
        let data = {
          password: self.password
        }
        axios.patch('/user/me', data)
          .then((response) => {
            self.$store.dispatch('getProfile')
            self.$store.dispatch('updateAlert', { isAlert: true, isHead: true, alertMsg: '密碼修改成功', type: 'alert' })
          })
          .catch(() => {
            self.$store.dispatch('updateAlert', { isAlert: true, isHead: true, alertMsg: '系統錯誤', type: 'alert' })
          })
      } else if (!self.checkPwdEqual(self.password, self.passwordCheck)) {
        self.$store.dispatch('updateAlert', { isAlert: true, isHead: true, alertMsg: '密碼不一致', type: 'alert' })
      } else if (!self.rexPassword(self.password)) {
        self.$store.dispatch('updateAlert', { isAlert: true, isHead: true, alertMsg: '請輸入8碼至15碼英數字', type: 'alert' })
      }
    },

    inputLoveCode (inputLoveCode) {
      let self = this
      self.invoice_donation = inputLoveCode
    }
  }
}
</script>

<style lang="scss">
  .donat-selector .vs__clear {
    display: none;
  }
  #account {
    .mx-datepicker {
      width: 100% !important;
      border-width: 1px !important;
      padding-left: 1rem !important;
      padding-right: 1rem !important;
      border-color: #a0aec0 !important;
    }
  }
  </style>
