<template>
  <div class="w-full min-h-50">
    <img src="~@/assets/icon/Pulse.gif" class="mx-auto h-12">
  </div>
</template>

<script>
// import axios from 'axios'
import { mapGetters } from 'vuex'
export default {
  name: 'Class',
  data () {
    return {
    }
  },

  components: {
  },
  computed: {
    ...mapGetters([
      'authorized',
      'userRole',
      'user'
    ])
  },
  created () {
  },
  mounted () {
  },
  methods: {
  }
}
</script>

<style lang="scss" scoped>
</style>
