<template>
  <div class="w-full">
    <div class="addressText border-b pb-12 mb-12 border-gray-500 px-2 md:px-12">
      <h3 class="mb-6 lg:mb-8 text-NotoSansRegular text-base lg:text-lg text-center border-b lg:border-b-0 pb-1">更改收件地址</h3>
      <ul class="list-decimal list-inside text-NotoSansRegular text-sm md:text-base">
        <li class="mb-3">互動英語雜誌系列：每月10日前申請，次月號即生效；10日後申請，則於次次月號生效。</li>
        <li class="mb-3">HOW IT WORKS 知識大圖解：每月20日前申請，次月號即生效；20日後申請，則於次次月號生效</li>
        <li class="mb-3">如需變更「海外地區收件地址」或「郵政信箱」，您可透過讀者服務信箱來信變更。</li>
        <li class="mb-3">「客服中心」相關線上功能，於雜誌訂單成立後三個工作天方可使用，不便之處請您見諒。</li>
        <li class="">線上更改收件地址申請送出後，客服人員將於三個工作天內以e-mail回覆，請留意信箱。<br/>若未收到，請撥打客服專線(02)2578-7838向客服人員確認。</li>
      </ul>
    </div>

    <hr>

    <div class="form px-2 md:px-16">
      <form class="w-full">
        <div class="md:flex md:items-center mb-1">
          <div class="md:w-1/4">
            <label class="block text-sm md:text-base md:text-left mb-1 md:mb-0 pr-4" for="subscriber-number">
              訂戶編號
            </label>
          </div>
          <div class="md:w-3/4">
            <input class="appearance-none border-2 border-gray-500 rounded w-full py-2 md:py-3 px-4 text-gray-800 leading-tight focus:outline-none focus:bg-white focus:border-gray-900"
              id="subscriber-number" type="text" value="" maxlength="8" placeholder="請輸入數字共8碼" v-model="userData.subscriberNumber">
          </div>
        </div>
        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4">
          </div>
          <div class="md:w-3/4">
            <label class="block text-gray-800 mb-1 text-sm text-NotoSansRegular underline text-red-600">
              <router-link :to="{name: 'subscriberNumbering'}">訂戶編號查詢</router-link>
            </label>
          </div>
        </div>
        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4">
            <label class="block text-sm md:text-base md:text-left mb-1 md:mb-0 pr-4" for="name">
              訂戶姓名
            </label>
          </div>
          <div class="md:w-3/4">
            <input class=" appearance-none border-2 border-gray-500 rounded w-full py-2 md:py-3 px-4 text-gray-800 leading-tight focus:outline-none focus:bg-white focus:border-gray-900"
            id="name" type="text" v-model="userData.name">
          </div>
        </div>
        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4">
            <label class="block text-sm md:text-base md:text-left mb-1 md:mb-0 pr-4">
              原收件地址
            </label>
          </div>
          <div class="md:w-3/4">
            <Address v-on:getAddress="getAddress" />
          </div>
        </div>
        <div class="md:flex md:items-center mb-2">
          <div class="md:w-1/4 hidden md:block">
            <label class="block text-sm md:text-base md:text-left mb-1 md:mb-0 pr-4 opacity-0" for="address">
              原收件地址
            </label>
          </div>
          <div class="md:w-3/4">
            <input class=" appearance-none border-2 border-gray-500 rounded w-full py-2 md:py-3 px-4 text-gray-800 leading-tight focus:outline-none focus:bg-white focus:border-gray-900"
            id="address" type="text" value="" v-model="userData.oldAdd">
          </div>
        </div>
        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/4"></div>
          <label class="md:w-3/4 block text-gray-800">
            <input class="mr-2 leading-tight" type="checkbox">
            <span class="text-sm text-NotoSansRegular">
              原收件地址是郵政信箱
            </span>
          </label>
        </div>
        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4">
            <label class="block text-sm md:text-base md:text-left mb-1 md:mb-0 pr-4">
              新收件地址
            </label>
          </div>
          <div class="md:w-3/4">
            <Address v-on:getAddress="getNewAddress" />
          </div>
        </div>
        <div class="md:flex md:items-center mb-2">
          <div class="md:w-1/4 hidden md:block">
            <label class="block text-sm md:text-base md:text-left mb-1 md:mb-0 pr-4 opacity-0" for="newAddress">
              新收件地址
            </label>
          </div>
          <div class="md:w-3/4">
            <input class=" appearance-none border-2 border-gray-500 rounded w-full py-2 md:py-3 px-4 text-gray-800 leading-tight focus:outline-none focus:bg-white focus:border-gray-900" id="newAddress" type="text" value="">
          </div>
        </div>
        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/4"></div>
          <label class="md:w-3/4 block text-gray-800">
            <input class="mr-2 leading-tight" type="checkbox" v-model="userData.isPostBox">
            <span class="text-sm text-NotoSansRegular">
              新收件地址是郵政信箱
            </span>
          </label>
        </div>
        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4">
            <label class="block text-sm md:text-base md:text-left mb-1 md:mb-0 pr-4" for="email">
              聯絡E-Mail
            </label>
          </div>
          <div class="md:w-3/4">
            <input class="appearance-none border-2 border-gray-500 rounded w-full py-2 md:py-3 px-4 text-gray-800 leading-tight focus:outline-none focus:bg-white focus:border-gray-900"
            id="email" type="email" v-model="userData.email">
          </div>
        </div>
        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4">
            <label class="block text-sm md:text-base md:text-left mb-1 md:mb-0 pr-4"
              for="phone">
              行動電話
            </label>
          </div>
          <div class="md:w-3/4">
            <input class="appearance-none border-2 border-gray-500 rounded w-full py-2 md:py-3 px-4 text-gray-800 leading-tight focus:outline-none focus:bg-white focus:border-gray-900"
            id="phone" type="phone" v-model="userData.mobile">
          </div>
        </div>
        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/4">
            <label class="block text-sm md:text-base md:text-left mb-1 md:mb-0 pr-4" for="remark">
              備註事項
            </label>
          </div>
          <div class="md:w-3/4">
            <textarea id="remark" v-model="userData.note"
              class="w-full p-1 resize border border-gray-700 rounded focus:outline-none
              focus:shadow-none w-full focus:border-gray-900 focus:border-2"></textarea>
          </div>
        </div>

        <div class="flex items-center mb-8">
          <div class="w-1/2 flex md:justify-end px-1 md:px-2">
            <button class="whitespace-no-wrap shadow button-red focus:shadow-none focus:outline-none text-white font-bold py-2 px-6 md:px-12 rounded"
            type="button" @click="submit">
              填好送出
            </button>
          </div>
          <div class="w-1/2 flex justify-start px-1 md:px-2">
            <button class="whitespace-no-wrap shadow button-red focus:shadow-none focus:outline-none text-white font-bold py-2 px-6 md:px-12 rounded"
            type="button" @click="refill">
              取消重填
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
// import axios from 'axios'
import { mapGetters } from 'vuex'
import Address from '../modules/AddressSection'
import Regex from '../modules/regex'
export default {
  name: 'MagazineChangeAddress',
  data () {
    return {
      userData: {
        subscriberNumber: null,
        name: null,

        // 原本住址
        oldCity: 0,
        oldDist: 0,
        oldAdd: null,
        // 新住址
        newCity: 0,
        newDist: 0,
        newAdd: null,
        isPostBox: false,

        mobile: null,
        email: null,
        note: ''
      }
    }
  },
  mixins: [
    Regex
  ],
  watch: {
  },
  components: {
    Address
  },
  computed: {
    ...mapGetters([
      'userRole',
      'user'
    ]),
    getEmail () {
      return this.userData.email
    },
    getMobile () {
      return this.userData.mobile
    }
  },
  mounted () {
    this.getData()
  },
  updated () {
  },
  methods: {
    getData () {
      let self = this
      self.userData.name = self.user.name
      self.userData.mobile = self.user.mobile

      self.userData.email = self.user.email
      self.userData.newAdd = self.user.address.address
    },
    getAddress (getAddress) {
      this.userData.oldCity = getAddress.city
      this.userData.oldDist = getAddress.district
    },
    getNewAddress (getAddress) {
      this.userData.newCity = getAddress.city
      this.userData.newDist = getAddress.district
    },
    submit () {
      let self = this
      let subscriberNumber = self.userData.subscriberNumber
      let name = self.userData.name
      let oldAdd = self.userData.oldAdd
      let newAdd = self.userData.newAdd
      let email = self.userData.email
      let isPostBox = self.userData.isPostBox
      let mobile = self.userData.mobile
      let note = self.userData.note

      if (subscriberNumber && name && oldAdd && newAdd && email && mobile && self.rexEmail(email) && self.rexMobile(mobile)) {
        console.log(subscriberNumber.trim())
        console.log(name.trim())
        // 原本住址
        console.log(self.userData.oldCity)
        console.log(self.userData.oldDist)
        console.log(oldAdd.trim())
        // 新的住址
        console.log(self.userData.newCity)
        console.log(self.userData.newDist)
        console.log(newAdd.trim())

        console.log(email.trim())
        console.log(isPostBox)
        console.log(mobile)
        console.log(note.trim())
      } else {
        console.log('有欄位未填或格式錯誤')
      }
    },
    refill () {
      this.userData.subscriberNumber = null
      this.userData.name = null

      this.userData.oldCity = null
      this.userData.oldDist = null
      this.userData.oldAdd = null

      this.userData.newCity = null
      this.userData.newDist = null
      this.userData.newAdd = null

      this.userData.email = null
      this.userData.isPostBox = null
      this.userData.mobile = null
      this.userData.note = ''
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
