<template>
  <div class="w-full">
    <div class="addressText border-b pb-12 mb-12 border-gray-500 px-2 md:px-12">
      <h3 class="mb-6 lg:mb-8 text-NotoSansRegular text-base lg:text-lg text-center border-b lg:border-b-0 pb-1">雜誌補寄申請</h3>
      <p class="text-NotoSansRegular text-sm md:text-basee text-center">
        「客服中心」相關線上功能，於雜誌訂單成立後三個工作天方可使用，不便之處請您見諒。
      </p>
      <p class="text-NotoSansRegular text-sm md:text-base text-center">
        雜誌會於您提出補寄後下一個工作天起算，三至四個工作天寄達</p>
    </div>

    <hr>

    <div class="form px-2 md:px-16">
      <form class="w-full">
        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4">
            <label class="text-NotoSansRegular block text-gray-900 text-sm lg:text-base mb-1 md:mb-0 pr-4 " for="subscriber-number">
              訂戶編號
            </label>
          </div>
          <div class="md:w-3/4">
            <input class=" appearance-none border-2 border-gray-500 rounded w-full py-2 md:py-3 px-4 text-gray-800 leading-tight focus:outline-none focus:bg-white focus:border-gray-900"
              id="subscriber-number" type="text"  v-model="userData.subscriberNumber" maxlength="8">
          </div>
        </div>
        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4">
            <label class="text-NotoSansRegular block text-gray-900 text-sm lg:text-base mb-1 md:mb-0 pr-4 " for="subscriber-name">
              訂戶姓名
            </label>
          </div>
          <div class="md:w-3/4">
            <input class=" appearance-none border-2 border-gray-500 rounded w-full py-2 md:py-3 px-4 text-gray-800 leading-tight focus:outline-none focus:bg-white focus:border-gray-900"
            id="subscriber-name" type="text" v-model="userData.name">
          </div>
        </div>
        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4">
            <label class="text-NotoSansRegular block text-gray-900 text-sm lg:text-base mb-1 md:mb-0 pr-4 " for="company-name">
              公司名稱
            </label>
          </div>
          <div class="md:w-3/4">
            <input class=" appearance-none border-2 border-gray-500 rounded w-full py-2 md:py-3 px-4 text-gray-800 leading-tight focus:outline-none focus:bg-white focus:border-gray-900"
              id="company-name" type="text" v-model="userData.companyName">
          </div>
        </div>
        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4">
            <label class="text-NotoSansRegular block text-gray-900 text-sm lg:text-base mb-1 md:mb-0 pr-4 " for="address">
              收件人地址
            </label>
          </div>
          <div class="md:w-3/4">
            <Address v-on:getAddress="getAddress" />
          </div>
        </div>
        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4 hidden md:block">
            <label class="text-NotoSansRegular block text-gray-900 text-sm lg:text-base mb-1 md:mb-0 pr-4  opacity-0" for="address">
              收件人地址
            </label>
          </div>
          <div class="md:w-3/4">
            <input class="appearance-none border-2 border-gray-500 rounded w-full py-2 md:py-3 px-4 text-gray-800 leading-tight focus:outline-none focus:bg-white focus:border-gray-900"
              id="inline-full-name" type="text" v-model="userData.address">
          </div>
        </div>
        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4">
            <label class="text-NotoSansRegular block text-gray-900 text-sm lg:text-base mb-1 md:mb-0 pr-4 " for="email">
              聯絡E-Mail
            </label>
          </div>
          <div class="md:w-3/4">
            <input class=" appearance-none border-2 border-gray-500 rounded w-full py-2 md:py-3 px-4 text-gray-800 leading-tight focus:outline-none focus:bg-white focus:border-gray-900"
            id="email" type="email" v-model="userData.email">
          </div>
        </div>
        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4">
            <label class="text-NotoSansRegular block text-gray-900 text-sm lg:text-base mb-1 md:mb-0 pr-4 " for="category">
              補寄雜誌別
            </label>
          </div>
          <div class="md:w-3/4">
            <div class="relative w-full">
              <select class="block appearance-none w-full  border-2 border-gray-500 text-gray-700 py-2 md:py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-900"
                id="category" v-model="userData.magType">
                <option value="ABC互動英語雜誌">ABC互動英語雜誌</option>
                <option value="LIVE互動英語">LIVE互動英語</option>
                <option value="ALL+互動英語">ALL+互動英語</option>
                <option value="CNN互動英語">CNN互動英語</option>
                <option value="互動日本語">互動日本語</option>
                <option value="HIW知識大圖解">HIW知識大圖解</option>
              </select>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
              </div>
            </div>
          </div>
        </div>
        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4">
            <label class="text-NotoSansRegular block text-gray-900 text-sm lg:text-base mb-1 md:mb-0 pr-4 " for="reason">
              補寄原因
            </label>
          </div>
          <div class="md:w-3/4">
            <div class="relative w-full">
              <select class="block appearance-none w-full  border-2 border-gray-500 text-gray-700 py-2 md:py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-900"
                id="reason" v-model="userData.reason">
                <option>未收到</option>
                <option>光碟破損</option>
              </select>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
              </div>
            </div>
          </div>
        </div>
        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/4">
            <label class="text-NotoSansRegular block text-gray-900 text-sm lg:text-base mb-1 md:mb-0 pr-4 " for="remark">
              備註事項
            </label>
          </div>
          <div class="md:w-3/4">
            <textarea id="remark" v-model="userData.note"
              class="w-full p-1 resize border border-gray-700 rounded  focus:outline-none
              focus:shadow-none focus:border-gray-900 focus:border-2"></textarea>
          </div>
        </div>

        <div class="flex items-center mb-8">
          <div class="w-1/2 flex md:justify-end px-1 md:px-2">
            <button class="whitespace-no-wrap shadow button-red focus:shadow-outline focus:outline-none text-white font-bold py-2 px-6 md:px-12 rounded"
              type="button" @click="submit">
              填好送出
            </button>
          </div>
          <div class="w-1/2 flex justify-start px-1 md:px-2">
            <button class="whitespace-no-wrap shadow button-red focus:shadow-outline focus:outline-none text-white font-bold py-2 px-6 md:px-12 rounded"
              type="button" @click="refill">
              取消重填
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Address from '@/components/modules/AddressSection'
import Regex from '@/components/modules/regex'
export default {
  name: 'MagazineSendBack',
  data () {
    return {
      userData: {
        subscriberNumber: null,
        name: null,
        companyName: null,

        city: null,
        district: null,
        address: null,

        email: null,
        magType: null,
        reason: null,
        note: ''
      }
    }
  },

  components: {
    Address
  },
  mixins: [
    Regex
  ],
  computed: {
    ...mapGetters([
      'userRole',
      'user'
    ])
  },
  mounted () {
    this.setData()
  },
  updated () {
  },
  methods: {
    setData () {
      let self = this
      self.userData.name = self.user.name
      self.userData.email = self.user.email
      self.userData.address = self.user.address.address
    },
    submit () {
      let subscriberNumber = this.userData.subscriberNumber
      let name = this.userData.name
      let companyName = this.userData.companyName
      let address = this.userData.address
      let email = this.userData.email
      let magType = this.userData.magType
      let reason = this.userData.reason
      let note = this.userData.note

      if (subscriberNumber && name && companyName && address && email && magType && reason && this.rexEmail(email)) {
        console.log(subscriberNumber.trim())
        console.log(name.trim())
        console.log(companyName.trim())
        console.log(this.userData.city)
        console.log(this.userData.district)
        console.log(address.trim())
        console.log(email.trim())
        console.log(magType)
        console.log(reason)
        console.log(note.trim())
      }
    },
    refill () {
      this.userData.subscriberNumber = null
      this.userData.name = null
      this.userData.companyName = null
      this.userData.city = 0
      this.userData.district = 0
      this.userData.address = null
      this.userData.email = null
      this.userData.magType = null
      this.userData.reason = null
      this.userData.note = ''
    },
    getAddress (getAddress) {
      console.log(getAddress)
      this.userData.city = getAddress.city
      this.userData.district = getAddress.district
    }
  }
}
</script>
