<template>
<div class="w-full">
  <div class="lg:border-2 border-gray-500 lg:py-6 px-2 lg:px-4 mb-6 lg:mb-12 rounded lg:py-8">
    <form class="w-full max-w-md mx-auto">
      <h3 class="mb-6 lg:mb-8 text-NotoSansRegular text-base lg:text-lg text-center border-b lg:border-b-0 pb-1">查詢雜誌到期期數</h3>
      <div class="md:flex md:items-center mb-1">
        <div class="md:w-1/4">
          <label class="text-NotoSansRegular block text-gray-900 text-sm lg:text-base mb-1 md:mb-0 pr-4" for="inline-full-name">
            訂戶編號
          </label>
        </div>
        <div class="md:w-3/4">
          <input class="text-NotoSansRegular appearance-none border-2 border-gray-500 rounded w-full py-2 md:py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-900"
          id="number" type="text" placeholder="請輸入數字共8碼" maxlength="8" v-model="subscriberNumber">
        </div>
      </div>
      <div class="md:flex md:items-center mb-4">
        <div class="md:w-1/4">
        </div>
        <div class="md:w-3/4">
          <label class="block text-gray-800 mb-1 text-sm text-NotoSansRegular underline text-red-600 ">
            <router-link :to="{name: 'subscriberNumbering'}">訂戶編號查詢</router-link>
          </label>
        </div>
      </div>
      <div class="md:flex md:items-center mb-6 lg:mb-10">
        <div class="md:w-1/4">
          <label class="text-NotoSansRegular block text-gray-900 text-sm lg:text-base mb-1 md:mb-0 pr-4" for="inline-username">
            訂戶姓名
          </label>
        </div>
        <div class="md:w-3/4">
          <input class="text-NotoSansRegular appearance-none border-2 border-gray-500 rounded w-full py-2 md:py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-900"
          id="name" type="text" placeholder="請輸入訂戶姓名" v-model="name">
        </div>
      </div>
      <div class="w-full flex items-center mb-8 justify-center">
        <button class="shadow button-red focus:shadow-outline focus:outline-none text-white text-base py-2 px-12 rounded" type="button" @click="submit">
          確認送出
        </button>
      </div>
      <div class="flex md:items-center pb-6 flex-wrap border-b lg:border-b-0 text-NotoSansRegular">
        <label class="w-full block text-gray-800 text-sm text-center lg:text-left mb-1">
          <span class="text-xs lg:text-sm">
            ＊「客服中心」相關線上功能，於雜誌訂單成立後三個工作天方可使用，不便之處請您見諒。
          </span>
        </label>
        <label class="w-full block text-gray-800 text-sm text-center lg:text-left">
          <span class="text-xs lg:text-sm">
            ＊ 本功能僅提供於雜誌訂戶查詢使用。
          </span>
        </label>
      </div>
    </form>
  </div>
  <div class="sub flex px-2 lg:px-10 flex-wrap mb-8">
    <div class="w-full lg:w-1/2 mb-4 lg:mb-8">
      <img src="~@/assets/images/label.png" alt="Description" class="object-contain mx-auto">
    </div>
    <div class="w-full lg:w-1/2 flex items-center px-12 lg:px-8 text-NotoSansRegular text-sm text-center lg:text-left">
      <p>您每周收到的雜誌封套名條上，即印有您的雜誌到期期數、訂戶編號</p>
    </div>
  </div>
</div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'MagazineMaturity',
  data () {
    return {
      subscriberNumber: null,
      name: null
    }
  },

  components: {
  },
  computed: {
    ...mapGetters([
      'userRole',
      'user'
    ])
  },
  mounted () {
  },
  updated () {
  },
  methods: {
    submit () {
      let subscriberNumber = this.subscriberNumber
      let name = this.name

      if (subscriberNumber && name) {
        console.log(subscriberNumber.trim())
        console.log(name.trim())
      }
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
