<template>
  <div class="w-full magazineTransform">
    <div class="addressText md:border-b pb-8 md:pb-12 md:mb-12 border-gray-500 px-4 md:px-12">
      <h3 class="mb-6 lg:mb-8 text-NotoSansRegular text-base lg:text-lg text-center border-b lg:border-b-0 pb-1">雜誌轉換同意書</h3>
      <h5 class="text-NotoSansRegular text-sm md:text-base mb-6">親愛的讀者您好，進行雜誌轉換前，請先留意以下事項：</h5>
      <ul class="list-decimal list-inside text-NotoSansRegular text-sm md:text-base">
        <li class="mb-3">讀者需收到第三期雜誌後，方可變更雜誌種類。</li>
        <li class="mb-3">更換時間若為當月10日前，次月雜誌即寄送至新址，若為當月10日後，則為次次月雜誌寄送至新址。</li>
        <li class="mb-3">互動英語雜誌系列不得與知識大圖解國際中文版雜誌相互轉換。</li>
        <li class="mb-3">線上雜誌轉換同意書送出後，客服人員將於3個工作天內以mail回覆，請留意信箱。若未收到，請撥打客服專線(02)2578-7838向客服人員確認。</li>
        <li class="">若有任何問題，請撥打客服專線 (02)2578-7838 向客服人員確認，謝謝您的合作。</li>
      </ul>
    </div>

    <hr>

    <div class="form px-2 md:px-16">
      <form class="w-full">
        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4">
            <label class="text-NotoSansRegular block text-gray-900 text-sm lg:text-base mb-1 md:mb-0 pr-4" for="subscriber-number">
              訂戶編號
            </label>
          </div>
          <div class="md:w-3/4">
            <input maxlength="8" class=" appearance-none border-2 border-gray-500 rounded w-full py-2 md:py-3 px-4 text-gray-800 leading-tight focus:outline-none focus:bg-white focus:border-gray-900"
              id="subscriber-number" type="text" value="" v-model="subscriberNumber">
          </div>
        </div>
        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4">
            <label class="text-NotoSansRegular block text-gray-900 text-sm lg:text-base mb-1 md:mb-0 pr-4" for="subscriber-name">
              訂戶姓名
            </label>
          </div>
          <div class="md:w-3/4">
            <input class=" appearance-none border-2 border-gray-500 rounded w-full py-2 md:py-3 px-4 text-gray-800 leading-tight focus:outline-none focus:bg-white focus:border-gray-900"
            id="subscriber-name" type="text" value="" v-model="subscriberName">
          </div>
        </div>
        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/4">
            <label class="text-NotoSansRegular block text-gray-900 text-sm lg:text-base mb-1 md:mb-0 pr-4" for="email">
              聯絡E-Mail
            </label>
          </div>
          <div class="md:w-3/4">
            <input class=" appearance-none border-2 border-gray-500 rounded w-full py-2 md:py-3 px-4 text-gray-800 leading-tight focus:outline-none focus:bg-white focus:border-gray-900"
              id="email" type="text" value="" v-model="email">
          </div>
        </div>
        <div class="flex items-center mb-4 flex-wrap">
          <div class="md:w-1/4 hidden md:block">
          </div>
          <div class="md:w-3/4 flex flex-wrap items-center">
            <label class="text-sm md:text-base w-full block text-gray-800 md:font-bold md:text-left mb-1 md:mb-3 pr-4" for="agree">
              本人同意將已訂
            </label>
            <div class="mb-3 flex items-center flex-wrap md:flex-no-wrap">
              <div class="w-full md:w-1/3 relative">
                <select class="block appearance-none w-full  border-2 border-gray-500 text-gray-700 py-2 md:py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-900"
                  id="selectMag" v-model="selectMag">
                  <option value="ABC互動英語雜誌">ABC互動英語雜誌</option>
                  <option value="LIVE互動英語">LIVE互動英語</option>
                  <option value="ALL+互動英語">ALL+互動英語</option>
                  <option value="CNN互動英語">CNN互動英語</option>
                  <option value="互動日本語">互動日本語</option>
                  <option value="HIW知識大圖解">HIW知識大圖解</option>
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                  <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                </div>
              </div>
              <label class="text-sm md:text-base w-full md:w-1/3 block text-gray-800 md:font-bold md:text-center mb-1 md:mb-0" for="company-name">
                之剩餘期數轉換成
              </label>
              <div class="w-full md:w-1/3 relative">
                <select class="block appearance-none w-full  border-2 border-gray-500 text-gray-700 py-2 md:py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-900"
                  id="selectMagTransform" v-model="selectMagTransform">
                  <option value="ABC互動英語雜誌">ABC互動英語雜誌</option>
                  <option value="LIVE互動英語">LIVE互動英語</option>
                  <option value="ALL+互動英語">ALL+互動英語</option>
                  <option value="CNN互動英語">CNN互動英語</option>
                  <option value="互動日本語">互動日本語</option>
                  <option value="HIW知識大圖解">'HIW知識大圖解</option>
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                  <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                </div>
              </div>
            </div>
            <label class="text-sm md:text-base block text-gray-800 md:font-bold md:text-left mb-1 md:mb-0 pr-4" for="company-name">
              並於西元
            </label>
            <div class="flex items-center">
              <div class="datePick mx-2">
                <date-picker valueType="format" type="month" v-model="selectDate" :input-class="computedClass"></date-picker>
              </div>
              <label class="block text-gray-800 md:font-bold md:text-left mb-1 md:mb-0 whitespace-no-wrap" for="company-name">
                起生效
              </label>
            </div>
          </div>
        </div>

        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4">
            <label class="text-NotoSansRegular block text-gray-900 text-sm lg:text-base mb-1 md:mb-0 pr-4" for="consenter">
              立同意書人
            </label>
          </div>
          <div class="md:w-3/4">
            <input class=" appearance-none border-2 border-gray-500 rounded w-full py-2 md:py-3 px-4 text-gray-800 leading-tight focus:outline-none focus:bg-white focus:border-gray-900"
            id="consenter" type="text" value="" v-model="consenterName">
          </div>
        </div>
        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4">
            <label class="text-NotoSansRegular block text-gray-900 text-sm lg:text-base mb-1 md:mb-0 pr-4" for="consenterDate">
              立同意書日
            </label>
          </div>
          <!-- <div class="md:w-3/4">
            <date-picker valueType="format" type="date" v-model="consenterDate" :input-class="computedClass"></date-picker>
          </div> -->
          <div class="md:w-3/4">
            <date-picker valueType="format" type="date" v-model="consenterDate" :input-class="computedClass"></date-picker>
          </div>
        </div>

        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4">
            <label class="text-NotoSansRegular block text-gray-900 text-sm lg:text-base mb-1 md:mb-0 pr-4" for="phone">
              行動電話
            </label>
          </div>
          <div class="md:w-3/4">
            <input class=" appearance-none border-2 border-gray-500 rounded w-full py-2 md:py-3 px-4 text-gray-800 leading-tight focus:outline-none focus:bg-white focus:border-gray-900"
              id="phone" type="text" value="" v-model="mobile">
          </div>
        </div>

        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/4">
            <label class="text-NotoSansRegular block text-gray-900 text-sm lg:text-base mb-1 md:mb-0 pr-4" for="remark">
              備註事項
            </label>
          </div>
          <div class="md:w-3/4">
            <textarea id="remark" v-model="note"
              class="w-full p-1 resize border border-gray-700 rounded focus:outline-none w-full focus:border-gray-900 focus:bg-white px-4 py-2 md:py-3 focus:border-2"></textarea>
          </div>
        </div>

        <div class="flex items-center mb-8 justify-center">
          <div class="w-1/2 flex justify-center md:justify-end px-1 md:px-2">
            <button class="whitespace-no-wrap shadow button-red focus:shadow-outline focus:outline-none text-white font-bold py-2 px-6 md:px-12 rounded"
            type="button" @click="submit">
              填好送出
            </button>
          </div>
          <div class="w-1/2 flex justify-center md:justify-start px-1 md:px-2">
            <button class="whitespace-no-wrap shadow button-red focus:shadow-outline focus:outline-none text-white font-bold py-2 px-6 md:px-12 rounded"
            type="button" @click="refill">
              取消重填
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import DatePicker from 'vue2-datepicker'
import 'vue2-datepicker/index.css'
import Regex from '../modules/regex'
export default {
  name: 'MagazineTransform',
  data () {
    return {
      subscriberNumber: null,
      subscriberName: null,
      email: null,
      selectMag: null,
      selectMagTransform: null,
      selectDate: null,
      consenterName: null,
      consenterDate: null,
      mobile: null,
      note: ''
    }
  },

  components: {
    DatePicker
  },
  mixins: [
    Regex
  ],
  watch: {
  },
  computed: {
    ...mapGetters([
      'userRole',
      'user'
    ]),
    computedClass () {
      return 'py-2 w-full focus:outline-none border-0'
    }
  },
  mounted () {
  },
  updated () {
  },
  methods: {
    submit () {
      let subscriberNumber = this.subscriberNumber
      let name = this.subscriberName
      let email = this.email
      let selectMag = this.selectMag
      let selectMagTransform = this.selectMagTransform
      let selectDate = this.selectDate
      let consenterName = this.consenterName
      let consenterDate = this.consenterDate
      let mobile = this.mobile
      let note = this.note

      if (subscriberNumber && name && email && selectMag && selectMagTransform && selectDate && consenterName && consenterDate && mobile && this.rexEmail(email) && this.rexMobile(mobile)) {
        console.log(subscriberNumber.trim())

        console.log(email.trim())
        console.log(selectMag)
        console.log(selectMagTransform)
        console.log(selectDate)
        console.log(consenterName)
        console.log(consenterDate)
        console.log(mobile)
        console.log(note.trim())
      } else {
        console.log('有欄位未填或格式錯誤')
      }
    },
    refill () {
      this.subscriberNumber = null
      this.subscriberName = null
      this.email = null
      this.selectMag = null
      this.selectMagTransform = null
      this.selectDate = null
      this.consenterName = null
      this.consenterDate = null
      this.mobile = null
      this.note = ''
    }
  }
}
</script>

<style lang="scss">
.magazineTransform {
  .mx-datepicker {
    width: 100% !important;
    border-width: 2px !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    border-color: #a0aec0 !important;
    &:focus {
      border-color: #1a202c !important;
    }
  }
}
</style>
