<template>
  <div class="w-full">
    <div class="addressText md:border-b pb-8 md:pb-12 md:mb-12 px-2 md:px-12">
      <h3 class="mb-6 lg:mb-8 text-NotoSansRegular text-base lg:text-lg text-center border-b lg:border-b-0 pb-1">LiveABC智慧點讀筆保固回函卡</h3>
      <h5 class="text-NotoSansRegular text-sm md:text-base mb-6 leading-relaxed">感謝您對LiveABC智慧點讀筆的支持，為保障購買權益，提供日後更完善的服務品質，謮填妥下列資料，LiveABC並將不定期提供最近資訊。(若您於十日內未接獲電子報，請再來電客服專線查詢02-25787838)</h5>
      <ul class="list-decimal list-inside text-NotoSansRegular text-sm md:text-base">
        <li class="">為維護您的購買權益，請務必「正確」填寫表單中的「購買日期」，若未填寫，將一律以「公司出廠日」起算保固一年</li>
      </ul>
    </div>
    <hr>
    <div class="form px-2 md:px-16">
      <form class="w-full">
        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4">
            <label class="block text-sm md:text-base md:text-left mb-1 md:mb-0 pr-4" for="subscriber-number">
              發票號碼
            </label>
          </div>
          <div class="md:w-3/4">
            <input class=" appearance-none  border-member-form rounded w-full py-2 md:py-3 px-4  leading-tight focus:outline-none focus:bg-white focus:border-gray-900"
              id="subscriber-number" type="text" value="" v-model="invoiceNumber">
          </div>
        </div>
        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4">
            <label class="block text-sm md:text-base md:text-left mb-1 md:mb-0 pr-4" for="subscriber-name">
              產品序號
            </label>
          </div>
          <div class="md:w-3/4">
            <input class=" appearance-none  border-member-form rounded w-full py-2 md:py-3 px-4  leading-tight focus:outline-none focus:bg-white focus:border-gray-900"
            id="subscriber-name" type="text" value="" v-model="serialNumber">
          </div>
        </div>
        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4">
            <label class="block text-sm md:text-base md:text-left mb-1 md:mb-0 pr-4" for="consenterDate">
              購買日期
            </label>
          </div>
          <div class="md:w-3/4">
            <date-picker valueType="format" type="date" v-model="buyDate" :input-class="computedClass"></date-picker>
          </div>
        </div>
        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4">
            <label class="block text-sm md:text-base md:text-left mb-1 md:mb-0 pr-4" for="consenter">
              姓名
            </label>
          </div>
          <div class="md:w-3/4">
            <input class=" appearance-none  border-member-form rounded w-full py-2 md:py-3 px-4  leading-tight focus:outline-none focus:bg-white focus:border-gray-900"
            id="consenter" type="text" value="" v-model="name">
          </div>
        </div>
        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4">
            <label class="block text-sm md:text-base md:text-left mb-1 md:mb-0 pr-4" for="consenterDate">
              出生日期
            </label>
          </div>
          <div class="md:w-3/4">
            <date-picker valueType="format" type="date" v-model="birth" :input-class="computedClass"></date-picker>
          </div>
        </div>
        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4">
            <label class="block text-sm md:text-base md:text-left mb-1 md:mb-0 pr-4" for="mobile">
              行動電話
            </label>
          </div>
          <div class="md:w-3/4">
            <input class=" appearance-none  border-member-form rounded w-full py-2 md:py-3 px-4  leading-tight focus:outline-none focus:bg-white focus:border-gray-900"
              id="mobile" type="text" value="" v-model="mobile">
          </div>
        </div>
        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4">
            <label class="block text-sm md:text-base md:text-left mb-1 md:mb-0 pr-4" for="address">
              地址
            </label>
          </div>
          <div class="md:w-3/4">
            <Address v-on:getAddress="getAddress" />
          </div>
        </div>
        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4 hidden md:block">
            <label class="block text-sm md:text-base md:text-left mb-1 md:mb-0 pr-4 opacity-0" for="address">
              地址
            </label>
          </div>
          <div class="md:w-3/4">
            <input class=" appearance-none  border-member-form rounded w-full py-2 md:py-3 px-4  leading-tight focus:outline-none focus:bg-white focus:border-gray-900"
            id="inline-full-name" type="text" value="" v-model="address">
          </div>
        </div>
        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4">
            <label class="block text-sm md:text-base md:text-left mb-1 md:mb-0 pr-4" for="email">
              E-Mail
            </label>
          </div>
          <div class="md:w-3/4">
            <input class="appearance-none  border-member-form rounded w-full py-2 md:py-3 px-4  leading-tight focus:outline-none focus:bg-white focus:border-gray-900"
            id="email" type="email" value="" v-model="email">
          </div>
        </div>
        <div class="md:flex md:items-center mb-4">
          <div class="md:w-1/4">
            <label class="block text-sm md:text-base md:text-left mb-1 md:mb-0 pr-4" for="job">
              職業
            </label>
          </div>
          <div class="md:w-3/4">
            <div class="relative w-full">
              <select class="block appearance-none w-full   border-member-form text-gray-700 py-2 md:py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-900"
                id="job" v-model="job">
                <option value="ABC互動英語雜誌">學生</option>
                <option value="LIVE互動英語">資訊業</option>
                <option value="ALL+互動英語">工</option>
                <option value="CNN互動英語">商</option>
                <option value="互動日本語">服務業</option>
                <option value="HIW知識大圖解">軍警公教</option>
                <option value="HIW知識大圖解">自由業及專業</option>
                <option value="other">其他</option>
              </select>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
              </div>
            </div>
          </div>
        </div>
        <div class="md:flex md:items-center mb-8">
          <div class="md:w-1/4">
            <label class="block text-sm md:text-base md:text-left mb-1 md:mb-0 pr-4" for="buyPlace">
              購買地點
            </label>
          </div>
          <div class="md:w-3/4">
            <div class="relative w-full">
              <select class="block appearance-none w-full   border-member-form text-gray-700 py-2 md:py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-900"
                id="buyPlace" v-model="selectPlace">
                <option value="Live互動美語全國合作校">Live互動美語全國合作校</option>
                <option value="Live互動美語全國直營校">Live互動美語全國直營校</option>
                <option value="全國實體書店">全國實體書店</option>
                <option value="CNN互動英語">LiveABC官方網站</option>
                <option value="互動日本語">其它通路</option>
              </select>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
              </div>
            </div>
          </div>
        </div>

        <div class="flex items-center mb-8">
          <div class="w-1/2 flex md:justify-end px-1 md:px-2">
            <button class="whitespace-no-wrap shadow button-red focus:shadow-outline focus:outline-none text-white font-bold py-2 px-6 md:px-12 rounded"
              type="button" @click="submit">
              填好送出
            </button>
          </div>
          <div class="w-1/2 flex justify-start px-1 md:px-2">
            <button class="whitespace-no-wrap shadow button-red focus:shadow-outline focus:outline-none text-white font-bold py-2 px-6 md:px-12 rounded"
              type="button" @click="refill">
              取消重填
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import DatePicker from 'vue2-datepicker'
import 'vue2-datepicker/index.css'
// import axios from 'axios'
import Address from '../modules/AddressSection'
export default {
  name: 'ProductWarranty',
  data () {
    return {
      invoiceNumber: null,
      serialNumber: null,
      buyDate: null,
      name: null,
      birth: null,
      mobile: null,

      city: null,
      district: null,
      address: null,

      email: null,

      job: null,

      selectPlace: null
    }
  },

  components: {
    DatePicker,
    Address
  },
  computed: {
    ...mapGetters([
      'userRole',
      'user'
    ]),
    computedClass () {
      return 'py-2 w-full focus:outline-none border-0'
    }
  },
  mounted () {
    this.getData()
  },
  updated () {
  },
  methods: {
    getData () {
      let self = this

      self.name = self.user.name
      self.mobile = self.user.mobile
      self.email = self.user.email
      self.address = self.user.address.address
      self.birth = self.user.birth
    },
    getAddress (getAddress) {
      console.log(getAddress)
      this.city = getAddress.city
      this.district = getAddress.district
    },
    refill () {
      this.invoiceNumber = null
      this.serialNumber = null
      this.buyDate = null

      this.cityIdx = 0
      this.districtIdx = 0
      this.address = null

      this.job = null

      this.selectPlace = null
    },
    submit () {
      let self = this
      if (this.invoiceNumber && this.serialNumber && this.buyDate && this.address && this.job && this.selectPlace) {
        console.log(self.invoiceNumber)
        console.log(self.serialNumber)
        console.log(self.buyDate)

        console.log(self.job)
        console.log(self.selectPlace)

        console.log(self.city)
        console.log(self.district)
        console.log(self.address)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .mx-datepicker {
    width: 100% !important;
    border-width: 2px !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    border-color: #a0aec0 !important;
  }
</style>
