<template>
  <div class="s-canvas">
    <canvas id="s-canvas" :width="contentWidth" :height="contentHeight"></canvas>
  </div>
</template>
<script>
export default {
  name: 'SIdentify',
  props: {
    identifyCode: {
      type: String,
      default: '1234'
    },
    fontSizeMin: {
      type: Number,
      default: 16
    },
    fontSizeMax: {
      type: Number,
      default: 40
    },
    backgroundColorMin: {
      type: Number,
      default: 180
    },
    backgroundColorMax: {
      type: Number,
      default: 240
    },
    colorMin: {
      type: Number,
      default: 50
    },
    colorMax: {
      type: Number,
      default: 160
    },
    lineColorMin: {
      type: Number,
      default: 40
    },
    lineColorMax: {
      type: Number,
      default: 180
    },
    dotColorMin: {
      type: Number,
      default: 0
    },
    dotColorMax: {
      type: Number,
      default: 255
    },
    contentWidth: {
      type: Number,
      default: 112
    },
    contentHeight: {
      type: Number,
      default: 38
    }
  },
  watch: {
    identifyCode () {
      this.drawPic()
    }
  },
  mounted () {
    this.drawPic()
  },
  methods: {
    // 生成一个隨機數字
    randomNum (min, max) {
      return Math.floor(Math.random() * (max - min) + min)
    },
    // 生成一个隨機的颜色
    randomColor (min, max) {
      let self = this
      var r = self.randomNum(min, max)
      var g = self.randomNum(min, max)
      var b = self.randomNum(min, max)
      return 'rgb(' + r + ',' + g + ',' + b + ')'
    },
    drawPic () {
      let self = this
      var canvas = document.getElementById('s-canvas')
      var ctx = canvas.getContext('2d')
      ctx.textBaseline = 'bottom'
      // 繪製背景
      ctx.fillStyle = self.randomColor(
        self.backgroundColorMin,
        self.backgroundColorMax
      )
      ctx.fillRect(0, 0, self.contentWidth, self.contentHeight)
      // 繪製文字
      for (let i = 0; i < self.identifyCode.length; i++) {
        self.drawText(ctx, self.identifyCode[i], i)
      }
      // self.drawLine(ctx)
      // self.drawDot(ctx)
    },
    drawText (ctx, txt, i) {
      let self = this
      ctx.fillStyle = self.randomColor(self.colorMin, self.colorMax)
      ctx.font = self.randomNum(self.fontSizeMin, self.fontSizeMax) + 'px SimHei'
      var x = (i + 1) * (self.contentWidth / (self.identifyCode.length + 1))
      var y = self.randomNum(self.fontSizeMax, self.contentHeight - 5)
      // var deg = self.randomNum(-45, 45)
      var deg = self.randomNum(-0, 0)
      // 修改座標圓點和旋轉角度
      ctx.translate(x, y)
      ctx.rotate(deg * Math.PI / 180)
      ctx.fillText(txt, 0, 0)
      // 恢復座標原點和旋轉角度
      ctx.rotate(-deg * Math.PI / 180)
      ctx.translate(-x, -y)
    },
    drawLine (ctx) {
      // 繪製干擾線
      let self = this
      for (let i = 0; i < 8; i++) {
        ctx.strokeStyle = self.randomColor(
          self.lineColorMin,
          self.lineColorMax
        )
        ctx.beginPath()
        ctx.moveTo(
          self.randomNum(0, self.contentWidth),
          self.randomNum(0, self.contentHeight)
        )
        ctx.lineTo(
          self.randomNum(0, self.contentWidth),
          self.randomNum(0, self.contentHeight)
        )
        ctx.stroke()
      }
    },
    drawDot (ctx) {
      // 繪製干擾點
      let self = this
      for (let i = 0; i < 100; i++) {
        ctx.fillStyle = self.randomColor(0, 255)
        ctx.beginPath()
        ctx.arc(
          self.randomNum(0, self.contentWidth),
          self.randomNum(0, self.contentHeight), 1, 0, 2 * Math.PI
        )
        ctx.fill()
      }
    }
  }
}
</script>

<style scoped>
</style>
