<template>
  <div v-if="bannerData">
    <div class="popBg" @click="close"></div>

    <div class="popup fixed w-full lg:w-auto px-4 md:px-6 lg:px-0 ">
      <div class="text-sm text-white py-1 cursor-pointer" @click="close">
        <div class="controls-item w-full flex justify-end">
          <span>
            關閉
          </span>
        </div>
      </div>
      <!-- <div class="text-sm text-white py-1">
        <div class="controls-item w-full flex justify-end" @click="setCookie">
          <label for="cookie" class="pr-1">
            <span class="w-full">
              今日不再顯示
            </span>
          </label>
          <font-awesome-icon icon="circle" class="text-white text-xl circle hover:text-gray-400" v-if="!isHiddenToday" />
          <font-awesome-icon icon="check-circle" class="text-white text-xl check-circle" v-else />
        </div>
      </div> -->
      <div class="popup_inner">
        <img class="w-full object-contain mx-auto cursor-pointer block" :src="bannerData.image_url" @click="close">

        <!-- <button @click="copy" class="button-red text-NotoSansLight py-1 md:py-2 px-3 rounded btn absolute text-sm focus:outline-none">
          複製折扣碼
          <font-awesome-icon icon="check" class="ml-1" v-if="isCopied" />
        </button> -->
      </div>
    </div>

  </div>
</template>

<script>
/* eslint-disable */
import axios from 'axios'
export default {
  name: 'IndexAlert',

  data () {
    return {
      // isCopied: false
      // isHiddenToday: false,

      // 下架時間
      // disableDay: '2021/08/15',

      bannerData: null
    }
  },

  components: {
  },
  beforeMount () {
    // this.disableDayFunc()
  },
  mounted () {
    this.getBanner()
  },
  methods: {
    close () {
      let self = this
      self.$store.dispatch('updateIndexAlert', false)
    },
    // disableDayFunc () {
    //   // 設置下架時間判斷
    //   let self = this
    //   let curDate = new Date()
    //   let curTamp = curDate.getTime()
    //   let expire = new Date(self.disableDay).getTime()

    //   expire < curTamp ? self.$store.dispatch('updateIndexAlert', false) : null
    // },
    // getCookie () {
    //   // 檢查今天不再顯示
    //   let self = this
    //   if (self.$store.state.isIndexAlert) {
    //     let curDate = new Date()
    //     let curTamp = curDate.getTime()
    //     let expire = new Date(self.$cookie.get('expireCookieIndexAlert')).getTime()

    //     expire > curTamp ? self.$store.dispatch('updateIndexAlert', false) : null
    //   }
    // },
    // setCookie () {
    //   // 設置不再顯示
    //   let self = this
    //   self.$cookie.set('expireCookieIndexAlert', '1D', { expires: '1D' })
    // },
    getBanner () {
      let self = this
      axios.get('/ad/indexPopup')
        .then((response) => {
          if (response.data.length > 0) {
            self.bannerData = response.data[0]
            // self.$swal({
            // showConfirmButton: false,
            // customClass: {
            //   container: 'p-0',
            //   popup: 'p-0',
            //   header: 'p-0',
            //   title: 'p-0',
            //   closeButton: '...',
            //   icon: '...',
            //   image: 'm-0',
            //   content: '...',
            //   htmlContainer: '...',
            //   input: '...',
            //   inputLabel: '...',
            //   validationMessage: '...',
            //   actions: '...',
            //   confirmButton: '...',
            //   denyButton: '...',
            //   cancelButton: '...',
            //   loader: '...',
            //   footer: '....'
            //   },
            // imageUrl: response.data[0].image_url,
            // imageAlt: response.data[0].name
            // })
          } else {
            self.close()
          }
        }
      )
    }
  }
}
</script>

<style lang="scss" scoped>
  .popBg {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed !important;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
  }
  .popup {
    width: auto;
    z-index: 9999 !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation-name: example;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    .btn {
      bottom: 3%;
      right: 5%;
    }
    .popup_inner {
      img {
        max-height: 80vh;
      }
    }
  }

  @keyframes example {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
      }
  }
</style>
