<template>
<div>
  <div class="popBg"></div>

  <div class="popup fixed" >
    <div class="popup__inner fixed z-40 py-5 px-8 bg-transparent">
      <!-- <img class="object-contain logoGif" src="~@/assets/icon/logogif.gif" alt=""> -->
      <svg class="spinner" width="45px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
      </svg>
    </div>
  </div>

</div>
</template>

<script>
export default {
  name: 'Loading',

  data () {
    return {
    }
  },

  methods: {
  }
}
</script>

<style lang="scss" scoped>
  $offset: 187;
  $duration: 1.4s;

  .popBg {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed !important;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 100;
    overflow: hidden;
  }
  .popup {
    z-index: 1000;
    .popup__inner {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .logoGif {
        width: 110px;
      }
      // .spinner {
      //   animation: rotator $duration linear infinite;
      // }

      // @keyframes rotator {
      //   0% { transform: rotate(0deg); }
      //   100% { transform: rotate(270deg); }
      // }

      .path {
        stroke-dasharray: $offset;
        stroke-dashoffset: 0;
        transform-origin: center;
        stroke: #e60012;
        animation:
          dash $duration ease-in-out infinite,
          // colors ($duration*4) ease-in-out infinite;
      }

      // @keyframes colors {
      //   0% { stroke: #4285F4; }
      //   25% { stroke: #DE3E35; }
      //   50% { stroke: #f89595; }
      //   75% { stroke: #1B9A59; }
      //   100% { stroke: #4285F4; }
      // }

      @keyframes dash {
        0% {
          stroke-dashoffset: $offset;
        }
        50% {
          stroke-dashoffset: $offset/5;
          transform:rotate(135deg);
        }
        100% {
          stroke-dashoffset: $offset;
          transform:rotate(450deg);
        }
      }
    }
  }
</style>
