<template>
  <div class="Paginate paginate-warp w-full py-4">
    <sliding-pagination
      class="md:hidden"
      :current="pagination.currentPage"
      :total="pagination.length"
      :slidingWindowSize="2"
      :slidingEndingSize="1"
      :nonSlidingSize="5"
      @page-change="pageChangeHandler"
    ></sliding-pagination>
    <sliding-pagination
      class="hidden md:block"
      :current="pagination.currentPage"
      :total="pagination.length"
      :slidingWindowSize="2"
      :slidingEndingSize="2"
      @page-change="pageChangeHandler"
    >
    </sliding-pagination>
  </div>
</template>

<script>
import SlidingPagination from 'vue-sliding-pagination'
export default {
  name: 'pagination',

  props: {
    pagination: {
      type: Object
    }
  },

  components: {
    SlidingPagination
  },

  methods: {
    pageChangeHandler (selectedPage) {
      this.$emit('pageChangeHandler', selectedPage)
    }
  }
}
</script>

<style lang="scss">
  @import "~vue-sliding-pagination/dist/style/sliding-pagination";
  .paginate-warp {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .c-sliding-pagination {
    text-align: center;
    margin: 1.5em 0;
  }
  .c-sliding-pagination__list-element {
    background: #ffffff;
    color: #2c3e50;
    padding: 0;
    border-radius: 0;
    margin-bottom: 0;
    margin-right: .5em;
    &:hover {
      background: #ffffff;
      color: #2c3e50;
      border-bottom: 1px solid #646565;
    }
    .c-sliding-pagination__page {
      display: block;
      padding: 0.2em 0.5em;
      font-size: 0.8rem;
      border-radius: 0;
      cursor: default;
    }
  }
  .c-sliding-pagination__list-element--active {
    position: relative;
    border-bottom: 1px solid #646565;
    color: rgb(197, 197, 197);
    cursor: default;
  }
  .c-sliding-pagination__list-element
  ~ .c-sliding-pagination__list-element--disabled {
  cursor: default;
  background-color: #fff;
  &:hover {
    background: #ffffff;
    color: #2c3e50;
  }
  }
</style>
