<template>
  <div class="w-full h-screen text-center table">
    <div class="table-cell align-middle">
      <h1 class="pr-3 inline-block text-2xl md:text-4xl textColorgray whitespace-pre-wrap">{{ prohibitText }}</h1>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Error404',
  metaInfo () {
    return {
      title: this.prohibitText,
      titleTemplate: null
    }
  },
  props: {
    prohibitText: {
      type: String,
      default: '網站維護中'
    }
  },
  data () {
    return {
    }
  },
  mounted () {
  },
  watch: {
  },
  methods: {
  }
}
</script>

<style lang="scss" scoped>
  h1 {
    animation: type .5s alternate infinite;
  }

  @keyframes type {
    from {
      box-shadow: inset -3px 0px 0px #959595;
    }
    to {
      box-shadow: inset -3px 0px 0px transparent;
    }
  }
</style>
