<template id="VerityEmail">
  <div class="w-full px-3 mb-2 md:mb-4 flex flex-wrap">
    <label class="md:pt-2 text-sm w-full md:w-1/5 tracking-wide mb-2" for="verity">
      E-Mail驗證碼
    </label>
    <div class="w-full md:w-3/5">
      <input class="w-full appearance-none block text-sm border border-gray-500 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-900" spellcheck="false"
        id="verity" type="text" autocomplete="off" placeholder="請輸入六位驗證碼" v-model.trim="code" maxlength="6" @change="submit"
        >
        <div class="textColorRed text-xs md:pl-2 text-right md:text-left">{{ codeText }}</div>
    </div>
    <div class="w-full md:w-1/5 md:px-1">
      <button class="focus:outline-none text-sm button-code py-3 px-3 rounded text-white block whitespace-no-wrap w-full" :class="{ disabledBtn: !this.canClick }"
        @click="verifyEmail" ref="verifyEmail" :disabled="status.isCheckingAccount">
        {{ content }}
        <font-awesome-icon icon="circle-notch" spin v-if="status.isCheckingAccount" />
      </button>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { mapGetters } from 'vuex'
import Regex from '@/components/modules/regex'
export default {
  name: 'VerityEmail',

  props: {
    email: {
      type: String
    }
  },

  data () {
    return {
      status: {
        isCheckingAccount: false,
        isCoundown: false
      },

      code: null,
      codeText: '',

      content: '發送驗證碼',
      totalTime: 600,
      canClick: true
    }
  },
  watch: {
  },
  mixins: [
    Regex
  ],
  computed: {
    ...mapGetters([
      'authorized',
      'user'
    ])
  },
  mounted () {
  },
  methods: {
    async verifyEmail () {
      let self = this
      if (self.rexEmail(self.email) && self.email && !self.status.isCoundown) {
        let url = `/account/verify?account=${self.email}`
        self.status.isCheckingAccount = true

        await axios.get(url)
          .then((response) => {
            if ((response.data.result === true && response.data.message === 'verification code sent.') || (response.data.result === false && response.data.message === 'Verification code not expired.')) {
              self.countDown()
              self.codeText = '系統已發送驗證碼，請前往信箱查看'
            } else {
              self.alreadyMember()
            }
            self.status.isCheckingAccount = false
          })
          .catch(() => {
            self.status.isCheckingAccount = false
          })
      }
    },
    alreadyMember () {
      let self = this
      self.$swal({
        icon: 'info',
        title: '此Email已註冊過囉!',
        text: '請使用原帳號登入或更新Email',
        showCancelButton: true,
        confirmButtonText: `登入`,
        cancelButtonText: '關閉',
        customClass: {
          container: 'text-sm text-base',
          popup: 'text-base',
          header: '...',
          title: 'textColorRed text-lg',
          closeButton: '...',
          icon: '...',
          image: '...',
          content: '...',
          htmlContainer: '...',
          validationMessage: '...',
          actions: '...',
          confirmButton: 'comfirmBtn px-6 py-3',
          cancelButton: 'comfirmBtn px-6 py-3',
          loader: '...',
          footer: 'text-sm textColorDarkBlack'
        }
      }).then((result) => {
        if (result.isConfirmed) {
          self.$router.push({ name: 'login' })
        }
      })
    },
    async submit () {
      let self = this
      if (self.code && self.code.length === 6) {
        self.$emit('isCode', { status: true, code: self.code })
      } else {
        self.$emit('isCode', { status: false, code: null })
      }
    },
    countDown () {
      let self = this
      if (!self.canClick) return
      self.canClick = false
      self.content = self.totalTime + 's'
      self.status.isCoundown = true
      let clock = window.setInterval(() => {
        self.totalTime--
        self.content = self.totalTime + 's'
        if (self.totalTime < 0) {
          window.clearInterval(clock)
          self.content = '重新傳送驗證碼'
          self.totalTime = 300
          self.canClick = true
          self.status.isCoundown = false
        }
      }, 1000)
    }
  }
}
</script>

<style lang="scss">
  .button-code {
    background: #2F80ED;
    transition: .3s;
    &:hover {
      background: #1D4ED8;
    }
  }
  .comfirmBtn {
    display: inline-block;
    font-size: 14px !important;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    height: auto;
    line-height: 1;
    background-color: #fff  !important;
    border: 1px solid #9c9c9c  !important;
    color: #434343 !important;
    white-space: nowrap;
    transition: .3s !important;
    border-radius: 5px;
    &:hover {
      background-color: #434343 !important;
      color: #fff !important;
    }
  }
  .disabledBtn {
    background-color: gray !important;
    color:#ffffff;
    cursor: not-allowed;
    &:hover {
      background-color: gray !important;
      color:#ffffff;
      cursor: not-allowed;
    }
  }
</style>
