<template>
  <div class="MagazineList w-full">
    {{ $route.params.class }}
  </div>
</template>
<script>
export default {
  name: 'MagazineDetail',
  data () {
    return {
      list: null
    }
  },
  components: {
  },
  computed: {
  },
  created () {
  },
  mounted () {
  },
  methods: {
  }
}
</script>
<style lang="scss" scoped>
</style>
