<template>
  <table class="cart-table w-full text-NotoSansRegular" :class="{checkTable: stepNum === 'step3'}" v-if="products !== []">
    <thead>
      <tr class="w-full text-sm whitespace-no-wrap border-t border-b textColorblack">
        <th class="w-6/13 px-4 py-2 font-normal">商品資訊</th>
        <th class="w-2/13 px-4 py-2 font-normal">數量</th>
        <th class="w-1/13 px-4 py-2 font-normal">原價</th>
        <th class="w-1/13 px-4 py-2 font-normal">折扣價</th>
        <th class="w-1/13 px-4 py-2 font-normal">小計</th>
        <th class="w-1/13 px-4 py-2 font-normal"  v-if="!stepNum">下次買</th>
        <th class="w-1/13 px-4 py-2 font-normal" v-if="!stepNum">刪除</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-xs border-b" v-for="(item, index) in products" :key="index">
        <td class="px-2 sm:px-4 py-4 md:py-6">
          <div class="flex items-start">
            <div class="w-24 md:w-32">
              <a class="itemImg cursor-pointer relative block" @click="routerChange(item)">
                <progressive-img v-if="item.cover"
                  :src="item.cover"
                  :placeholder="item.cover"
                  :blur="30"
                  :customClass="'max-w-full w-32'"
                  :aspect-ratio="1"
                />
                <progressive-img v-else
                  :src="default_url"
                  :placeholder="default_url"
                  :blur="30"
                  :customClass="'max-w-full'"
                  :aspect-ratio="1"
                />
                <div class="digi-mask mx-auto absolute top-0 left-0 z-40" v-if="item.is_digital">
                  <img src="~@/assets/icon/mask.png" class="w-full h-full object-contain mx-auto">
                </div>
              </a>
            </div>
            <div class="flex flex-col justify-center pl-2">
              <p class="textColorblack">
                <span v-if="item.type === 'MAGAZINE'">雜誌</span>
                <span v-if="item.type === 'SUBSCRIPTION'">訂閱</span>
                <span v-if="item.type === 'BOOK'">叢書</span>
                <span v-if="item.type === 'PACKAGE'">套書</span>
                <span v-if="item.type === 'ITEM'">商品</span>
              </p>
              <a class="textColorblack cursor-pointer text-NotoSansBold" @click="routerChange(item)">
                <p class="leading-loose" v-if="item.type !== 'SUBSCRIPTION'">{{ item.name }}</p>
                <p class="leading-loose" v-if="item.type === 'SUBSCRIPTION'">{{ item.link_name }}</p>
                <p class="leading-loose" v-if="item.type === 'SUBSCRIPTION'">
                  <span>期數：</span>
                  {{ item.name }}
                </p>
              </a>
              <p class="leading-loose textColorblack text-NotoSansBold" v-if="item.type === 'SUBSCRIPTION'">
                <span>起訖：</span>{{ moment(item.begin_at).format('YYYY/MM') }}~{{ moment(item.end_at).format('YYYY/MM') }}
              </p>
              <p class="leading-loose textColorblack text-NotoSansBold" v-if="item.type === 'SUBSCRIPTION' && !item.is_digital">寄送：
                <span v-if="item.isRegisteredMail">掛號</span>
                <span v-if="!item.isRegisteredMail">平信</span>
              </p>
              <!-- 贈品 -->
              <p class="text-NotoSansBold leading-loose text-pinky" v-if="(item.selected_gifts.length > 0) || (item.free_items.length > 0)">贈品：</p>
              <div v-if="item.selected_gifts && item.selected_gifts.length > 0" class="text-pinky">
                <p class="leading-loose" v-for="(child, idx) in item.selected_gifts" :key="idx">
                  <span>{{ child.name }}</span>
                </p>
              </div>
              <div v-if="item.free_items && item.free_items.length > 0" class="text-pinky">
                <p class="leading-loose" v-for="(child, idx) in item.free_items" :key="idx">
                  <span>{{ child.name }}</span>
                </p>
              </div>
              <!-- 活動贈品 -->
              <div class="hidden md:block">
                <p v-if="item.event && !item.matched && !stepNum">
                  <span class="textColorRed mr-1">(未符合)</span>
                  <span class="textColorRed" >{{ item.event }}</span>
                </p>
                <p v-if="item.event && item.matched">
                  <span class="textColorRed mr-1">(已符合)</span>
                  <span class="textColorRed" >{{ item.event }}</span>
                </p>
                <p v-if="item.gifts">
                  <span class="textColorRed mr-1">(贈品)</span>
                  <span class="textColorRed" >{{ item.gifts }}</span>
                </p>
              </div>
            </div>
          </div>
          <div class="mt-2 md:hidden">
            <p v-if="item.event && !item.matched && !stepNum">
              <span class="textColorRed mr-1">(未符合)</span>
              <span class="textColorRed" >{{item.event }}</span>
            </p>
            <p v-if="item.event && item.matched">
              <span class="textColorRed mr-1">(已符合)</span>
              <span class="textColorRed" >{{ item.event }}</span>
            </p>
            <p v-if="item.gifts" >
              <span class="textColorRed mr-1">(贈品)</span>
              <span class="textColorRed" >{{ item.gifts }}</span>
            </p>
          </div>
        </td>
        <td class="py-2 text-xs textColorblack text-center td">
          <span>數量</span>
          <div class="w-full flex justify-center" v-if="!stepNum">
            <div class="w-full relative lg:hidden">
              <select class="-mt-2 md:mt-0 mx-auto block appearance-none w-full border border-gray-700 textColorDarkBlack py-2 pl-2 pr-3 rounded leading-tight focus:outline-none bg-white"
                id="grid-state" v-model="item.quantity" @change="changeNum(item.id, item.quantity)" v-if="item.type !== 'SUBSCRIPTION'">
                <option v-for="n in (item.in_stock > limitNum ? limitNum : item.in_stock)" :key="n" :value="n">{{ n }}</option>
              </select>
              <select class="-mt-2 md:mt-0 mx-auto block appearance-none w-full border border-gray-700 textColorDarkBlack py-2 pl-2 pr-3 rounded leading-tight focus:outline-none bg-white"
                id="grid-state" v-model="item.quantity" @change="changeNum(item.id, item.quantity)" v-if="item.type === 'SUBSCRIPTION'">
                <option v-for="n in limitNum" :key="n" :value="n">{{ n }}</option>
              </select>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-1 md:px-2 textColorDarkBlack">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
              </div>
            </div>
            <div class="UiQty items-center hidden lg:flex justify-between">
              <a class="UiQty_btn minusBtn cursor-pointer px-1" @click="minusNum(item.id, item.quantity, item.in_stock, item.type)">–</a>
              <input type="text" class="Quantity_input focus:outline-none" v-model="item.quantity" @change="inputNum(item.id, item.quantity, item.in_stock, item.type)">
              <a class="UiQty_btn plusBtn cursor-pointer mx-auto px-1" @click="plusNum(item.id, item.quantity, item.in_stock, item.type)">＋</a>
            </div>
          </div>
          <p v-if="stepNum === 'step3'" class="m-0">{{ item.quantity }}</p>
        </td>
        <td class="text-center py-2 text-xs textColorblack td">
          <span>原價</span>
          {{ item.fixed_price }}
        </td>
        <td class="text-center py-2 text-xs textColorblack td">
          <span>折扣價</span>
          {{ item.pricing }}
        </td>
        <td class="text-center py-2 text-xs textColorblack td">
          <span>小計</span>
          {{ item.pricing * item.quantity }}
        </td>
        <td class="text-center py-2 text-xs textColorblack"  v-if="!stepNum">
          <span>下次買</span>
          <a @click="addWish(item)" class="cursor-pointer">
            <font-awesome-icon icon="heart" />
          </a>
        </td>
        <td class="text-center py-2 text-xs textColorblack"  v-if="!stepNum">
          <span>刪除</span>
          <a @click="removeShopItem(item.id)" class="cursor-pointer">
            <font-awesome-icon icon="times" />
          </a>
        </td>
      </tr>
      <tr class="text-xs border-b" v-for="(item) in gifts" :key="item.id">
        <td class="px-2 sm:px-4 py-4 md:py-6">
          <div class="flex items-start">
            <div class="w-24 md:w-32">
              <a class="itemImg">
                <progressive-img v-if="item.cover"
                  :src="item.cover"
                  :placeholder="item.cover"
                  :blur="30"
                  :customClass="'max-w-full w-32'"
                  :aspect-ratio="1"
                />
                <progressive-img v-else
                  :src="default_url"
                  :placeholder="default_url"
                  :blur="30"
                  :customClass="'max-w-full'"
                  :aspect-ratio="1"
                />
              </a>
            </div>
            <div class="flex flex-col justify-center pl-2">
              <p class="textColorblack">
                <span>贈品</span>
              </p>
              <p class="leading-loose">{{ item.name }}</p>
            </div>
          </div>
        </td>
        <td class="py-2 text-xs textColorblack text-center td">
          <span>數量</span>
          -
        </td>
        <td class="text-center py-2 text-xs textColorblack td">
          <span>原價</span>
          -
        </td>
        <td class="text-center py-2 text-xs textColorblack td">
          <span>折扣價</span>
          -
        </td>
        <td class="text-center py-2 text-xs textColorblack td">
          <span>小計</span>
          -
        </td>
        <td class="text-center py-2 text-xs textColorblack"  v-if="!stepNum">
          <span>下次買</span>
          -
        </td>
        <td class="text-center py-2 text-xs textColorblack"  v-if="!stepNum">
          <span>刪除</span>
          -
        </td>
      </tr>
      <tr class="text-xs" v-if="filterEventsAll">
        <td class="px-2 sm:px-4 py-1 w-full" colspan="7">
          <p class="leading-loose w-full" v-for="(item, index) in filterEventsAll" :key="index">
            <router-link :to="{ name: 'sale', params: { category: 'book' }, query: { tag: item.id } }" class="cursor-pointer">
              <span class="bgLiveABCRed text-white px-1 mr-1" v-if="item.matched">已符合</span>
              <span class="bgLiveABCRed text-white px-1 mr-1" v-if="!item.matched">未符合</span>
              <span class="textColorRed">{{ item.name }}</span>
            </router-link>
          </p>
        </td>
      </tr>
      <!-- <tr class="text-xs" v-if="gifts && gifts.length > 0">
        <td class="px-2 sm:px-4 py-1 w-full" colspan="7">
          <p class="leading-loose w-full" v-for="(item, index) in gifts" :key="index">
            <a :href="item.url" class="cursor-pointer">
              <span class="bgLiveABCRed text-white px-1 mr-1">贈品</span>
              <span class="textColorRed">{{ item.name }}</span>
            </a>
          </p>
        </td>
      </tr> -->
    </tbody>
  </table>
</template>

<script>
/* eslint-disable no-unused-expressions */
import axios from 'axios'
import { mapGetters } from 'vuex'
import Cart from '../modules/addCart'
import Regex from '../modules/regex'
import advertising from '@/components/modules/advertising'
export default {
  name: 'CartSection',

  props: {
    products: {
      type: Array,
      required: true
    },
    stepNum: {
      type: String
    },
    events: {
      type: Array,
      default () {
        return []
      }
    },
    gifts: {
      type: Array,
      default () {
        return []
      }
    }
  },

  data () {
    return {
      limitNum: 100,
      default_url: require('@/assets/images/preset_item.png')
    }
  },
  mixins: [
    Cart,
    Regex,
    advertising
  ],
  computed: {
    ...mapGetters([
      'authorized',
      'user'
    ]),
    filterEventsAll () {
      return this.events.filter(item => item.type === 'all')
    }
  },
  methods: {
    changeNum (id, quantity) {
      let data = { id: id, quantity: Number(quantity) }
      this.$emit('cartListValue', data)
    },
    // 刪除購物車項目
    async removeShopItem (item) {
      // 刪除購物車項目
      let self = this
      await self.removeShoppingItem(item)
      self.$emit('removeShopItem', 'refreshCart')
    },
    // 加入收藏
    async addWish (item) {
      let self = this
      let wishData = { 'productID': item.id, 'unit': '1' }
      // 加入收藏項目
      if (self.$store.state.auth.authorized) {
        let newId = item.id
        item.type === 'SUBSCRIPTION' ? newId = item.link_id : null

        await axios.post(`/products/${newId}/favorite`)
          .then(() => {
            // 刪除購物車項目
            self.removeShoppingItem(newId)

            // 廣告商code
            wishData.price = item.pricing
            self.addWishCode(wishData)
          })
        self.$emit('removeShopItem', 'refreshCart')

        if (self.$store.state.isAddWish) {
          await self.$store.dispatch('isAddingWish', false)
          self.$store.dispatch('isAddingWish', true)
        } else {
          self.$store.dispatch('isAddingWish', true)
        }
      } else {
        self.$store.dispatch('updateAlert', { isAlert: true, isHead: true, alertMsg: '尚未登入', type: 'alert' })
      }
    },
    routerChange (item) {
      let self = this
      switch (item.type) {
        case 'BOOK':
          self.$router.push({ path: '/book/detail/' + item.id })
          break
        case 'PACKAGE':
          self.$router.push({ path: '/package/detail/' + item.id })
          break
        case 'MAGAZINE':
          self.$router.push({ path: '/magazine/detail/' + item.id })
          break
        case 'SUBSCRIPTION':
          self.$router.push({ path: '/magazine/detail/' + item.link_id })
          break
        case 'ITEM':
          self.$router.push({ path: '/package/detail/' + item.id })
          break
      }
    },
    inputNum (id, quantity, stockNum, type) {
      let self = this
      let isNumber = self.rexNumber(quantity)
      if (isNumber && type !== 'SUBSCRIPTION') {
        // 非訂閱
        if (quantity >= stockNum) {
          // 大於100
          self.$store.dispatch('updateAlert', { isAlert: true, isHead: true, alertMsg: '庫存不足', type: 'alert' })
          self.changeNum(id, stockNum)
        } else if (Number(quantity) === 0) {
          // 等於0
          self.removeShopItem(id)
        } else if (Number(quantity) < 0) {
          // 小於0
          self.changeNum(id, 1)
        } else if (Number(quantity) <= stockNum && Number(quantity) > 0) {
          // 庫存範圍內
          self.changeNum(id, Number(quantity))
        }
      } else if (isNumber && type === 'SUBSCRIPTION') {
        // 訂閱
        if (Number(quantity) >= self.limitNum) {
          // 大於100
          self.$store.dispatch('updateAlert', { isAlert: true, isHead: true, alertMsg: '庫存不足', type: 'alert' })
          self.changeNum(id, self.limitNum)
        } else if (Number(quantity) === 0) {
          // 等於0
          self.removeShopItem(id)
        } else if (Number(quantity) < 0) {
          // 小於0
          self.changeNum(id, 1)
        } else if (Number(quantity) <= self.limitNum && Number(quantity) > 0) {
          // 庫存範圍內
          self.changeNum(id, Number(quantity))
        }
      } else {
        self.changeNum(id, 1)
      }
    },
    minusNum (id, quantity, stockNum, type) {
      let self = this
      if (quantity > 1) {
        let newQuantity
        newQuantity = quantity - 1
        self.changeNum(id, newQuantity)
      }
    },
    plusNum (id, quantity, stockNum, type) {
      let self = this
      if ((type !== 'SUBSCRIPTION' && quantity < 500 && quantity < stockNum) || (type === 'SUBSCRIPTION' && quantity < self.limitNum)) {
        let newQuantity
        newQuantity = quantity + 1
        self.changeNum(id, newQuantity)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.freegiftsTitle {
  opacity: 0;
}
  .UiQty {
    width: 80%;
    border: 1px solid #c7c7c7;
    vertical-align: middle;
    .Quantity_input {
      width: 3em;
      // width: auto;
      border: 0;
      text-align: center;
      letter-spacing: .1em;
      height: 32px;
      vertical-align: middle;
      display: block;
      font-size: 12px;
      line-height: 32px;
      top: 0;
      margin: 0 auto;
      color: #484848;
    }
    .UiQty_btn {
      display: block;
      font-size: 15px;
      z-index: 98;
      width: 36px;
      color: #484848;
      height: 32px;
      line-height: 32px;
      text-align: center;
    }
    .minusBtn {
      &:active {
        padding-top: 1px;
      }
    }
    .plusBtn {
      &:active {
        padding-top: 1px;
      }
    }
  }

  .cart-table td>span {
      display: none;
  }
  @media (max-width: 769px) {
    .cart-table thead tr {
      display: none;
    }
    .cart-table tr {
        display: block;
    }
    .cart-table tr>td:first-child {
        width: 100%;
    }
    .cart-table td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(5), td:nth-child(6), td:nth-child(7) {
        width: 16.45%;
        text-align: center;
    }
    .cart-table td {
        display: inline-block;
        vertical-align: top;
        font-size: 13px;
      }
    .cart-table td>span {
        display: block;
        margin-bottom: 15px;
        color: #000;
    }
    .cart-table td>span {
        display: block;
        margin-bottom: 15px;
        color: #000;
    }
  }

  .checkTable {
    .td {
      width: auto;
    }
  }
  @media (max-width: 769px) {
    .checkTable {
      .td {
        width: 25% !important;
      }
    }
  }

</style>
