<template>
  <div class="preview mx-auto w-full">
    <div class="relative">
      <swiper :options="previewOption" class="swiper">
        <swiper-slide v-for="(item, index) in coverList" :key="index">
          <div class="item cursor-pointer w-full h-full" @click.prevent="openPreRead(index)">
            <div class="square-book md:border-2 md:border-solid mx-auto" v-on:mouseover="mouseOver(index)">
              <div class="square-img book-shadow" :style="{'background-image': 'url(' + item + ')' }"></div>
              <div class="playerIcon-preview absolute z-50 w-full text-center" v-if="data[index].youtube_url">
                <ul>
                  <li class="inline">
                    <a class="openvideoBtn cursor-pointer inline-block relative" id="openvideoBtn">
                      <img src="~@/assets/btn/video_icon.png" class="object-contain border-0">
                    </a>
                  </li>
                </ul>
              </div>
              <div class="digi-mask mx-auto border-0 absolute z-50 md:hidden" v-if="is_digital">
                <img src="~@/assets/icon/mask.png" class="w-full h-full object-contain mx-auto">
              </div>
            </div>
          </div>
        </swiper-slide>
      </swiper>
      <div class="swiper-button-next swiper-button-next-preview focus:outline-none cursor-pointer"></div>
      <div class="swiper-button-prev swiper-button-prev-preview focus:outline-none cursor-pointer"></div>
    </div>
    <CoolLightBox
      :items="coverList"
      :index="index"
      @close="index = null">
    </CoolLightBox>
  </div>
</template>
<script>
import CoolLightBox from 'vue-cool-lightbox'
export default {
  name: 'PreViewSlider',
  data () {
    return {
      index: null,
      previewOption: {
        slidesPerView: 4,
        spaceBetween: 10,
        loop: false,
        navigation: {
          nextEl: '.swiper-button-next-preview',
          prevEl: '.swiper-button-prev-preview'
        },
        breakpoints: {
          767: {
            slidesPerView: 1
          }
        }
      }
    }
  },
  props: {
    data: {
      type: Array,
      required: true
    },
    is_digital: {
      type: Boolean,
      default: false
    }
  },
  components: {
    CoolLightBox
  },
  computed: {
    coverList () {
      let self = this
      if (self.data.length > 0) {
        let list = []
        for (let item of self.data) {
          list.push(item.url)
        }
        return list
      } else {
        return ['@/assets/images/preset_item.png']
      }
    }
  },
  methods: {
    openPreRead (index) {
      this.index = index
    },
    mouseOver (index) {
      let self = this
      self.$emit('changeCover', index)
    }
  }
}
</script>
<style lang="scss" scoped>
  .preview {
    .square-book {
      position: relative;
      width: 90%;
      padding-bottom : 90%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      .square-img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding-bottom : 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      .playerIcon-preview {
        top: 50%;
        transform: translateY(-50%);
        ul {
          li {
            a {
              width: 2em;
              height: 2em;
            }
          }
        }
      }
    }
  }
  .SlideImage {
    top: 0;
    left: 0;
    background:rgba(0,0,0,0.65);
    z-index: 20;
    .main {
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      .card {
        img {
          max-height: 75vh;
        }
        .closeBtn {
          width: 40px;
          height: 40px;
          opacity: 0.65;
          right: -40px;
          top:  -40px;
        }
        .preImage {
          background-color: white;
          border-color: #959595;
        }
      }
    }

  }
    .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
  .swiper-button-next-preview {
    z-index: 10;
    right: -2em;
    background-size: contain;
    transform: translateY(-50%);
    margin-top: 0 !important;
    background-size: contain;
    background-size: 27px 44px;
    background-position: center;
    width: 10vw;
    height: 100%;
    @media (min-width: 768px) {
      background-image: url('~@/assets/btn/arrowRight.png');
      right: -2rem;
      width: 30px;
      background-size: 30px 30px;
    }
  }
  .swiper-button-prev-preview {
    z-index: 10;
    left: -2em;
    background-size: contain;
    transform: translateY(-50%);
    margin-top: 0 !important;
    background-size: contain;
    background-size: 27px 44px;
    background-position: center;
    width: 10vw;
    height: 100%;
    @media (min-width: 768px) {
      background-image: url('~@/assets/btn/arrowLeft.png');
      left: -2rem;
      width: 30px;
      background-size: 30px 30px;
    }
  }
</style>
