<template>
  <div class="flex justify-end">
    <!-- <div class="dropdown relative mobile-hidden px-4 pb-4 pt-2 hidden md:inline-block">
      <a class="cursor-pointer">
        <div id="accountName" class="dropbtn flex self-end items-center no-underline hover:underline">
          <p class="mb-0 mr-1 text-center text-sm whitespace-no-wrap textColor-searchBar">
            <span>排序</span>
          </p>
        </div>
      </a>
      <div class="dropdown-content text-sm border text-center">
        <div class="item flex justify-center items-center" @click="updatedSort('published_at')">
          <a class="cursor-pointer-b px-2 py-2 cursor-pointer block w-4/5 whitespace-no-wrap">
            <p>出版日期由新→舊</p>
          </a>
          <font-awesome-icon icon="check" class="font-awesome text-xs w-1/5 textColor-searchBar" :class="{ opacity1: sort.type === 'published_at' }" />
        </div>
        <div class="item flex justify-center items-center" @click="updatedSort('asc')">
          <a class="cursor-pointer-b px-2 py-2 cursor-pointer block w-4/5 whitespace-no-wrap">
            <p>價格由低→高</p>
          </a>
          <font-awesome-icon icon="check" class="font-awesome text-xs w-1/5 textColor-searchBar" :class="{ opacity1: sort.type === 'asc' }" />
        </div>
        <div class="item flex justify-center items-center" @click="updatedSort('desc')">
          <a class="cursor-pointer-b px-2 py-2 cursor-pointer block w-4/5 whitespace-no-wrap">
            <p>價格由高→低</p>
          </a>
          <font-awesome-icon icon="check" class="font-awesome text-xs w-1/5 textColor-searchBar" :class="{ opacity1: sort.type === 'desc' }" />
        </div>
      </div>
    </div> -->
    <div class="filterBtn justify-end px-2 py-4 text-NotoSansLight hidden md:flex">
      <div class="publishDate textColorgray cursor-pointer text-sm" :class="{ textColorblack: sort.type === 'published_at' }"
        @click="updatedSort('published_at')">出版日期由新→舊</div>
      <span class="mx-2 text-sm">|</span>
      <div class="priceHigh textColorgray cursor-pointer text-sm" :class="{ textColorblack: sort.type === 'asc' }"
        @click="updatedSort('asc')">價格由低→高</div>
      <span class="mx-2 text-sm">|</span>
      <div class="priceDown textColorgray cursor-pointer text-sm" :class="{ textColorblack: sort.type === 'desc' }"
        @click="updatedSort('desc')">價格由高→低</div>
    </div>
    <div class="mt-3 mb-4 md:hidden flex items-center justify-end">
      <div class="relative">
        <select class="block appearance-none w-full border border-gray-400 textColorDarkBlack py-2 px-4 pr-8 rounded leading-tight focus:outline-none bg-white focus:border-gray-500 text-sm" id="filterBtn"
          @change="updatedSort($event.target.value)">
          <option value="published_at">出版日期由新→舊</option>
          <option value="asc">價格由低→高</option>
          <option value="desc">價格由高→低</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 textColorDarkBlack">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Sort',
  data () {
    return {
    }
  },
  props: {
    sort: {
      type: Object
    }
  },
  methods: {
    updatedSort (val) {
      let self = this
      let sortData = {}
      switch (val) {
        case 'published_at':
          sortData.isPricing = false
          sortData.type = 'published_at'
          break
        case 'asc':
          sortData.isPricing = true
          sortData.type = 'asc'
          break
        case 'desc':
          sortData.isPricing = true
          sortData.type = 'desc'
          break
      }

      self.$emit('updatedSort', sortData)
    }
  }
}
</script>

<style lang="scss" scoped>
  .dropdown {
    .dropdown-content {
      top: -999px;
      opacity: 0;
      position: absolute;
      background-color: #ffffff;
      width: 12rem;
      z-index: 10;
      transition: opacity 0.2s ease;
      transform: translateX(-50%);
      left: -50%;
      .item {
        max-width: 150px;
        margin: auto;
        &:hover {
          a {
            // text-decoration: underline;
            transition: 0s;
            opacity: 0.7;
          }
        }
      }
      a {
        text-decoration: none;
        display: block;
        font-weight: 400;
        color: #898989;
        transition: .3s;
      }
      .font-awesome {
        opacity: 0;
      }
      .opacity1 {
        opacity: 1;
      }
    }
    &:hover {
      .dropdown-content {
        opacity: 1;
        top: 80% !important;
      }
    }
  }

</style>
