<template>
  <div ref="library" class="library">
    <div class="pb-4 lg:pb-6 xl:pb-8 mx-auto px-2 md:px-4 w-90">
      <router-view></router-view>
    </div>
    <FooterSection />
  </div>
</template>

<script>
import FooterSection from '@/components/library/FooterSection'
export default {
  name: 'Libaray',
  metaInfo () {
    return {
      title: '雜誌館'
    }
  },
  data () {
    return {
    }
  },
  components: {
    // HeaderSection,
    FooterSection
  },
  computed: {
  },
  mounted () {
  },
  updated () {
  },
  methods: {
  }
}
</script>

<style lang="scss" scoped>
.w-90 {
  width: 90%;
}
</style>
