<template>
  <div>
    <div v-if="activityData !== null">
      <div class="activity lg:pb-6 xl:pb-16" id="activity" v-if="activityData.begin_at && activityData.end_at">
        <Breadcrumb :productTitle="activityData" />
        <div class="banner mb-4 overflow-hidden" ref="banner">
          <img v-lazy="activityData.cover_url" alt="" class="w-full h-auto object-contain max-w-full">
        </div>

        <div class="mb-4">
          <h4 class="text-NotoSansBold text-lg mb-1">{{ activityData.name }}</h4>
          <p class="text-NotoSansRegular mb-1">活動時間：
            <span class="textColorRed">{{ moment(activityData.begin_at).format('MM/DD HH:mm') }} ~ {{ moment(activityData.end_at).format('MM/DD HH:mm') }}</span>
          </p>
          <div class="text-NotoSansRegular" v-html="activityData.description"></div>
        </div>

        <div class="flex justify-between" v-if="activityData.items !== []">
          <div class="w-full saleProducts flex flex-wrap">
            <div class="w-1/2 sm:w-1/3 p-2 flex-shrink" v-for="(item, index) in activityData.items" :key="index">
              <div class="border h-full">

                <ProductModule :data="activityData.items[index]" />

              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-else class="pt-12 pb-12">
        <p class="text-NotoSansRegular text-center">系統錯誤或活動已過期</p>
      </div>
    </div>

      <div class="loading md:p-1" v-if="!activityData">
        <div class="hidden md:block">
          <vue-content-loading :width="300" :height="100">
            <rect cx="30" cy="30" width="265" r="30" height="80" x="15" />
          </vue-content-loading>

          <vue-content-loading :width="300" :height="135" v-for="(item, index) in 2" :key="index">
            <rect cx="30" cy="30" width="65" r="30" height="80" x="15" />
            <rect cx="30" cy="80" r="50" x="10" y="85" rx="3" ry="3" width="75" height="4" />
            <rect x="10" y="95" rx="3" ry="3" width="55" height="4" />
            <rect x="10" y="105" rx="3" ry="3" width="20" height="4" />

            <rect cx="30" cy="30" width="65" r="30" height="80" x="115" />
            <rect cx="30" cy="30" r="50" x="110" y="85" rx="3" ry="3" width="75" height="4" />
            <rect x="110" y="95" rx="3" ry="3" width="70" height="4" />
            <rect x="110" y="105" rx="3" ry="3" width="20" height="4" />

            <rect cx="30" cy="30" width="65" r="30" height="80" x="215" />
            <rect cx="30" cy="30" r="50" x="210" y="85" rx="3" ry="3" width="75" height="4" />
            <rect x="210" y="95" rx="3" ry="3" width="70" height="4" />
            <rect x="210" y="105" rx="3" ry="3" width="20" height="4" />
          </vue-content-loading>
        </div>
        <div class="md:hidden">
          <vue-content-loading :width="300" :height="100">
            <rect cx="30" cy="30" width="265" r="30" height="80" x="15" />
          </vue-content-loading>
          <vue-content-loading :width="300" :height="200" v-for="(item, index) in 2" :key="index">
            <rect cx="30" cy="30" width="110" r="30" height="135" x="20" />
            <rect cx="30" cy="80" r="50" x="20" y="145" rx="3" ry="3" width="110" height="5" />
            <rect cx="30" cy="80" r="50" x="20" y="155" rx="3" ry="3" width="110" height="5" />
            <rect cx="30" cy="80" r="50" x="55" y="165" rx="3" ry="3" width="50" height="5" />

            <rect cx="30" cy="30" width="110" r="30" height="135" x="160" />
            <rect cx="30" cy="80" r="50" x="160" y="145" rx="3" ry="3" width="110" height="5" />
            <rect cx="30" cy="80" r="50" x="160" y="155" rx="3" ry="3" width="110" height="5" />
            <rect cx="30" cy="80" r="50" x="190" y="165" rx="3" ry="3" width="50" height="5" />
          </vue-content-loading>
        </div>
      </div>
  </div>
</template>

<script>
import axios from 'axios'
import Cart from '@/components/modules/addCart'
import ProductModule from '@/components/product/ProductModule'
import VueContentLoading from 'vue-content-loading'
import Breadcrumb from '@/components/product/Breadcrumb'
export default {
  name: 'Sale',
  metaInfo () {
    return {
      title: this.page_title
    }
  },
  data () {
    return {
      page_title: '',

      activityData: null
    }
  },
  mixins: [
    Cart
  ],
  components: {
    ProductModule,
    VueContentLoading,
    Breadcrumb
  },
  watch: {
    '$route.query.tag': {
      handler (newVal, oldVal) {
        if (newVal !== oldVal) {
          this.getEvent()
        }
      }
    }
  },
  created () {
    // this.setupAlliance()
    this.getEvent()
  },
  mounted () {
  },
  methods: {
    getEvent () {
      let self = this
      self.activityData = null
      let listPath = `/promote_events/${self.$route.query.tag}`
      axios.get(listPath)
        .then((response) => {
          self.activityData = response.data
          self.page_title = response.data.name
        })
    },
    routeChange (id, type) {
      let self = this
      if (type === 'PACKAGE' || type === 'ITEM') {
        // 套書
        self.$router.push({ name: 'detail', params: { category: 'package', id: id } })
      } else if (type === 'BOOK') {
        // 叢書
        self.$router.push({ name: 'detail', params: { category: 'book', id: id } })
      } else if (type === 'MAGAZINE' || type === 'PLAN') {
        // 雜誌
        self.$router.push({ name: 'detail', params: { category: 'magazine', id: id } })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .button-sale {
    background-color: #e60012;
    transition: 0.3s;
    &:hover {
      background-color: #872122 !important;
    }
  }
  ::-webkit-scrollbar {
    transition: box-shadow .2s;
      width: 4px;
  }
  .min-text {
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
  .productName {
    min-height: 3rem;
  }
  .activity {
    width: 100%;
    margin: 0 auto;
    .outer {
      position: relative;
      width: 100%;
      background:white;
      display: block;
      &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
      .inner {
        position: absolute;
        width: 80%;
        height: 80%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        img {
          opacity: 0;
          transition: .3s;
        }
      }
    }
    .saleProducts {
      width: calc(98% - 225px);
      @media (max-width: 1025px) {
        width: 98%;
      }
    }

    .quickBuy-cart {
      height: auto;
      border: 3px solid #ddd;

      .nanoscrollWrap {
        height: calc(100vh - 310px);
        overflow-y: scroll;
      }

      .nanoscrollWrapHover::-webkit-scrollbar-track {
        transition: .2s !important;
        box-shadow: inset 0 0 6px rgba(0,0,0,0) ;
      }
      .nanoscrollWrapHover::-webkit-scrollbar-thumb {
        transition: .2s !important;
        box-shadow: inset 0 0 6px rgba(0,0,0,0) ;
      }

      &:hover {
        .nanoscrollWrapHover::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
        }
        .nanoscrollWrapHover::-webkit-scrollbar-thumb {
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8) !important;
        }
      }
    }
  }

</style>
