<template>
<div>
  <div class="popBg"></div>

  <div class="popup fixed px-4 max-w-2xl w-full md:w-auto">
    <div class="relative popup_inner">
      <img class="max-w-full object-contain mx-auto" src="~@/assets/images/activity/downTime.jpg">
    </div>
  </div>

</div>
</template>

<script>
export default {
  // 停機公告
  name: 'Downtime',

  data () {
    return {
    }
  },

  components: {
  },

  methods: {
  }
}
</script>

<style lang="scss" scoped>
.popBg {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed !important;
  background-color: rgba(255, 255, 255, 1);
  z-index: 100;
}
.popup {
  width: auto;
  z-index: 9999 !important;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  animation-name: example;
  animation-duration: .3s;
  animation-fill-mode: forwards;
  img {
    max-height: 90vh;
  }
  .btn {
    bottom: 3%;
    right: 5%;
    // transform: translateX(-50%);
  }
}

@keyframes example {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    }
}
</style>
