<template>
  <div id="jump" :class="{ isNoticeHead: !$store.state.isIndexTopNotice, mainBody: $store.state.isIndexTopMainBody }" class="pt-4 pb-8 lg:py-6 xl:py-8 px-2 lg:px-8 max-w-5xl mx-auto text-NotoSansRegular min-h-60">
    <main class="w-full flex justify-center md:pt-3 flex-col items-center">
      <div class="flex py-8 border borderRed bg-white w-full max-w-lg rounded justify-center">
        <section class="text-xl md:text-2xl text-center tracking-wider">
          <h6 class="textColorRed">恭喜你！會員註冊成功囉</h6>
          <h6 class="textColorRed mb-4">請選擇跳轉頁面 </h6>

          <div class="flex justify-center text-lg">
            <router-link :to="{ name: 'index' }" class="btn-back block rounded-2 text-white py-2 px-8 mr-2">回首頁</router-link>
          </div>
        </section>
      </div>

      <div class="flex justify-center mt-4">
        <a href="https://livestudy.liveabc.com/" class="block rounded py-2 ml-2 underline" target="_blank">
          回LiveStudy行動學習網
        </a>
      </div>
    </main>
  </div>
</template>

<script>
export default {
  name: 'register_success',
  metaInfo () {
    return {
      title: '註冊成功',
      titleTemplate: null
    }
  }
}
</script>

<style lang="scss" scoped>
  .min-h-60 {
    min-height: 60vh;
  }
  .btn-back {
    background: #EB5757;
    transition: .3s;
    &:hover {
      background: #e60012;
    }
  }
</style>
