<template>
  <div id="register" :class="{ isNoticeHead: !$store.state.isIndexTopNotice, mainBody: $store.state.isIndexTopMainBody }" class="pt-4 pb-8 lg:py-6 xl:py-8 px-2 lg:px-8 max-w-5xl mx-auto text-NotoSansRegular">

    <form action="javascript:void(0);" class="text-NotoSansRegular textColorblack mx-auto max-w-3xl">
      <h5 class="text-center tracking-wider text-xl mb-2">
        會員註冊
      </h5>
      <div class="w-full bg-white rounded py-2 lg:p-4 flex flex-col justify-between leading-normal">
        <div class="flex flex-wrap textColorblack">
          <!-- 姓名 -->
          <div class="w-full px-3 mb-2 md:mb-4 md:flex">
            <label class="md:flex items-center text-sm md:text-sm md:w-1/5 tracking-wide" for="name">
              會員姓名
            </label>
            <input class="md:w-3/5 appearance-none border-gray-500 focus:border-gray-900 block w-full  text-sm border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white"
              id="name" type="text" @blur="checField('userName')" placeholder="請輸入姓名" v-model.trim="user.name" :class="{ borderRed: validation.name === false }" maxlength="15">
          </div>

          <!-- 信箱 -->
          <div class="w-full px-3 mb-2 md:mb-4 md:flex">
            <label class="md:pt-2 md:text-sm md:w-1/5 tracking-wide text-sm mb-2" for="email">
              E-Mail
            </label>
            <div class="w-full md:w-3/5">
              <input class="w-full appearance-none block text-sm border border-gray-500 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-900" spellcheck="false"
                id="email" type="email" placeholder="" v-model.trim="user.email" autocomplete="email"
                :class="{ borderRed: validation.email === false }" @change="checField('userMail')"  @blur="checField('userMail')">
                <p class="text-xs textColorRed tracking-wider">※注意事項</p>
                <p class="text-xs tracking-wider">
                  。使用hotmail有可能收不到驗證信，建議使用gmail信箱
                </p>
                <p class="text-xs tracking-wider">
                  。一直沒收到驗證信，有可能跑到垃圾信件或被擋信了喔
                </p>
            </div>
            <div class="w-full md:w-1/5 md:px-1">
              <button class="focus:outline-none text-sm button-code py-3 px-3 rounded text-white block whitespace-no-wrap w-full" :class="{ disabledBtn: !this.canClick }"
                @click="verifyEmail" ref="verifyEmail" :disabled="status.isCheckingAccount">
                {{ content }}
                <font-awesome-icon icon="circle-notch" spin v-if="status.isCheckingAccount" />
              </button>
              <div class="textColorRed text-xs text-right md:text-left" v-if="validation.emailRex === false">E-mail格式錯誤，請重新填寫</div>
            </div>
          </div>

          <!-- 驗證碼 -->
          <div class="w-full px-3 mb-2 md:mb-4 flex flex-wrap">
            <label class="md:pt-2 text-sm w-full md:w-1/5 tracking-wide mb-2" for="verity">
              E-Mail驗證碼
            </label>
            <div class="w-full md:w-3/5">
              <input class="w-full appearance-none block text-sm border border-gray-500 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-900" spellcheck="false"
                id="verity" type="text" autocomplete="off" placeholder="請輸入六位驗證碼" :class="{ borderRed: validation.isCode === false }" @change="checField('code')"  @blur="checField('code')" v-model.trim="code" maxlength="6"
                >
                <div class="textColorRed text-xs md:pl-2 text-right md:text-left">{{ codeText }}</div>
            </div>
            <div class="w-full md:w-1/5 md:px-1">
            </div>
          </div>

          <!-- 密碼 -->
          <div class="w-full px-3 mb-2 md:mb-4 md:flex">
            <label class="md:pt-2 md:text-sm md:w-1/5 tracking-wide text-sm" for="password">
              輸入密碼
            </label>
            <input class="md:w-3/5 appearance-none block w-full  text-sm border border-gray-500 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-900"
              id="password" type="password" @change="checField('password')" @blur="checField('password')" placeholder="請輸入8碼至15碼英數字" v-model.trim="user.pwd"
              :class="{ borderRed: validation.pwd === false }" autocomplete="new-password" maxlength="15" name="firstShoppingPwd">
          </div>
          <div class="w-full px-3 mb-2 md:mb-4 md:flex -mt-2 md:-mt-4" v-if="validation.pwdRex === false">
            <div class="md:w-1/5"></div>
            <div class="md:w-3/5 textColorRed text-right text-xs">請輸入8碼至15碼英數字</div>
          </div>
          <div class="w-full px-3 mb-2 md:mb-4 md:flex">
            <label class="md:pt-2 md:text-sm md:w-1/5 tracking-wide text-sm" for="password_check">
              確認密碼
            </label>
            <input class="md:w-3/5 appearance-none block w-full  text-sm border border-gray-500 rounded py-3 px-4 eading-tight focus:outline-none focus:bg-white focus:border-gray-900"
              id="password_check" type="password" @blur="checField('passwordCheck')" placeholder="再次輸入密碼" v-model.trim="user.pwdCheck"
              :class="{ borderRed: validation.pwdCheck === false }" autocomplete="off" maxlength="15">
          </div>
          <div class="w-full px-3 mb-2 md:mb-4 md:flex -mt-2 md:-mt-4" v-if="validation.pwdEqal === false">
            <div class="md:w-1/5"></div>
            <div class="md:w-3/5 textColorRed text-right text-xs">密碼不一致</div>
          </div>

        </div>
      </div>
      <div class="mb-4 px-4 lg:px-6 pb-4 lg:pb-6 flex">
        <div class="w-1/5 hidden md:block"></div>
        <div class="w-full md:w-4/5">
          <!-- 接收優惠 -->
          <div class="items-center flex pb-1">
            <div class="controls-item">
              <input id="get-mail" name="subscribe" type="checkbox" class="checkbox hidden" v-model="isAgreeReceiveDM" :class="{ labelisTrue: isAgreeReceiveDM }">
              <label for="get-mail">
                <span class="text-sm ml-2">我同意接收優惠訊息</span>
              </label>
            </div>
          </div>
          <!-- 同意條款 -->
          <div class="items-center flex pb-1">
            <div class="controls-item">
              <input :class="{ labelisTrue: isAgreePolicy }" id="agreePolicy" name="agreePolicy"
                type="checkbox" class="checkbox hidden" v-model="isAgreePolicy">
              <label for="agreePolicy">
                <span class="text-sm w-full ml-2">
                  我同意接受LiveABC
                  <router-link :to="{ name: 'policy' }" class="underline">服務條款</router-link>
                  與
                  <router-link :to="{ name: 'privacy' }" class="underline">隱私權政策</router-link>
                </span>
              </label>
            </div>
          </div>
          <div class="flex my-3 justify-start w-full">
            <button class="button-red py-3 px-16 rounded text-white w-full md:w-auto text-sm" @click="registerCheck">
              會員註冊
              <font-awesome-icon icon="circle-notch" spin v-if="status.isRegister" />
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
/* eslint-disable no-unused-expressions */
import axios from 'axios'
import { mapGetters, mapActions } from 'vuex'
import Regex from '@/components/modules/regex'
import moment from 'moment'
export default {
  name: 'Register',
  metaInfo () {
    return {
      title: '會員註冊',
      titleTemplate: null
    }
  },
  data () {
    return {
      status: {
        isRegister: false,
        isCheckingAccount: false,
        isCoundown: false
      },
      // 驗證碼
      code: null,
      codeText: '',

      content: '發送驗證碼',
      totalTime: 300,
      canClick: true,

      // 驗證
      validation: {
        name: null,
        email: null,
        pwd: null,
        pwdCheck: null,
        pwdEqal: null,
        pwdRex: null,
        emailRex: null,
        isCode: null
      },

      // 會員資料
      user: {
        name: null,
        email: null,
        pwd: null,
        pwdCheck: null
      },

      // 同意隱私權/服務條款
      isAgreePolicy: false,
      // 接收優惠
      isAgreeReceiveDM: true
    }
  },
  components: {
  },
  mixins: [
    Regex
  ],
  computed: {
    ...mapGetters([
      'authorized'
    ]),
    checkContract () {
      let self = this
      let arr = Object.values(self.validation)
      let count = 0

      for (let item of arr) {
        if (!item) {
          count++
        }
      }

      if (count > 0) {
        return false
      } else {
        return true
      }
    }
  },
  mounted () {
  },
  updated () {
  },
  methods: {
    ...mapActions({
      doRegister: 'register'
    }),

    // input驗證
    checField (field) {
      let self = this
      if (field) {
        switch (field) {
          // 訂購資訊
          case 'userName':
            self.user.name ? self.validation.name = true : self.validation.name = false
            break
          // 帳號
          case 'userMail':
            self.user.email ? self.validation.email = true : self.validation.email = false
            self.rexEmail(self.user.email) ? self.validation.emailRex = true : self.validation.emailRex = false
            break
          // 密碼
          case 'password':
            self.user.pwd ? self.validation.pwd = true : self.validation.pwd = false
            self.rexPassword(self.user.pwd) ? self.validation.pwdRex = true : self.validation.pwdRex = false
            break
          // 確認密碼
          case 'passwordCheck':
            self.user.pwdCheck ? self.validation.pwdCheck = true : self.validation.pwdCheck = false
            self.checkPwdEqual(self.user.pwd, self.user.pwdCheck) ? self.validation.pwdEqal = true : self.validation.pwdEqal = false
            break
          // 確認密碼
          case 'code':
            self.code && self.code.length === 6 ? self.validation.isCode = true : self.validation.isCode = false
            break
        }
      } else {
        self.user.name ? self.validation.name = true : self.validation.name = false
        self.user.email ? self.validation.email = true : self.validation.email = false
        self.user.pwd ? self.validation.pwd = true : self.validation.pwd = false
        self.user.pwdCheck ? self.validation.pwdCheck = true : self.validation.pwdCheck = false
        self.code && self.code.length === 6 ? self.validation.isCode = true : self.validation.isCode = false
        self.checkPwdEqual(self.user.pwd, self.user.pwdCheck) ? self.validation.pwdEqal = true : self.validation.pwdEqal = false
        self.rexPassword(self.user.pwd) ? self.validation.pwdRex = true : self.validation.pwdRex = false
        self.rexEmail(self.user.email) ? self.validation.emailRex = true : self.validation.emailRex = false
      }
    },

    async registerCheck () {
      let self = this
      await this.checField()
      self.status.isRegister = true

      self.checkContract && self.isAgreePolicy ? self.registerAction() : self.status.isRegister = false
    },

    async registerAction () {
      let self = this

      let formData = {
        account: self.user.email,
        password: self.user.pwd,
        name: self.user.name,
        code: self.code,
        isAgreeReceiveDM: self.isAgreeReceiveDM
      }

      await self.doRegister(formData)
      self.status.isRegister = false
    },

    async verifyEmail () {
      let self = this
      if (self.rexEmail(self.user.email) && self.user.email && !self.status.isCoundown) {
        let url = `/account/verify?account=${self.user.email}`
        self.status.isCheckingAccount = true

        await axios.get(url)
          .then((response) => {
            if ((response.data.result === true && response.data.message === 'verification code sent.') || (response.data.result === false && response.data.message === 'Verification code not expired.')) {
              self.countDown()
              self.codeText = '系統已發送驗證碼，請前往信箱查看'
            } else {
              self.alreadyMember()
            }
            self.status.isCheckingAccount = false
          })
          .catch(() => {
            self.status.isCheckingAccount = false
          })
      }
    },

    alreadyMember () {
      let self = this
      self.$swal({
        icon: 'info',
        title: '此Email已註冊過囉!',
        text: '請使用原帳號登入或更新Email',
        showCancelButton: true,
        confirmButtonText: `登入`,
        cancelButtonText: '關閉',
        customClass: {
          container: 'text-sm text-base',
          popup: 'text-base',
          header: '...',
          title: 'textColorRed text-lg',
          closeButton: '...',
          icon: '...',
          image: '...',
          content: '...',
          htmlContainer: '...',
          validationMessage: '...',
          actions: '...',
          confirmButton: 'comfirmBtn px-6 py-3',
          cancelButton: 'comfirmBtn px-6 py-3',
          loader: '...',
          footer: 'text-sm textColorDarkBlack'
        }
      }).then((result) => {
        if (result.isConfirmed) {
          self.$router.push({ name: 'login' })
        }
      })
    },

    countDown () {
      let self = this
      if (!self.canClick) return
      self.canClick = false

      let durationValue = moment.duration(self.totalTime, 'seconds')
      let hours = Math.floor(durationValue.asHours())
      let mins = Math.floor(durationValue.asMinutes()) - hours * 60
      let secs = Math.floor(durationValue.asSeconds()) - mins * 60
      let sesShow
      if (secs === 0) {
        sesShow = '00'
      } else if (secs < 10) {
        sesShow = '0' + secs
      } else {
        sesShow = secs
      }

      self.content = '剩餘 ' + mins + ':' + sesShow
      self.status.isCoundown = true
      let clock = window.setInterval(() => {
        self.totalTime--

        let durationValue = moment.duration(self.totalTime, 'seconds')
        let hours = Math.floor(durationValue.asHours())
        let mins = Math.floor(durationValue.asMinutes()) - hours * 60
        let secs = Math.floor(durationValue.asSeconds()) - mins * 60
        let sesShow
        if (secs === 0) {
          sesShow = '00'
        } else if (secs < 10) {
          sesShow = '0' + secs
        } else {
          sesShow = secs
        }

        self.content = '剩餘 ' + mins + ':' + sesShow
        if (self.totalTime < 0) {
          window.clearInterval(clock)
          self.content = '重新傳送驗證碼'
          self.totalTime = 300
          self.canClick = true
          self.status.isCoundown = false
        }
      }, 1000)
    }
  }
}
</script>

<style lang="scss" scoped>
  #register {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;

    input, textarea {
      font-size: initial;
    }
    .button-code {
      background: #2F80ED;
      transition: .3s;
      &:hover {
        background: #1D4ED8;
      }
    }
    .comfirmBtn {
      display: inline-block;
      font-size: 14px !important;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      height: auto;
      line-height: 1;
      background-color: #fff  !important;
      border: 1px solid #9c9c9c  !important;
      color: #434343 !important;
      white-space: nowrap;
      transition: .3s !important;
      border-radius: 5px;
      &:hover {
        background-color: #434343 !important;
        color: #fff !important;
      }
    }
    .disabledBtn {
      background-color: gray !important;
      color:#ffffff;
      cursor: not-allowed;
      &:hover {
        background-color: gray !important;
        color:#ffffff;
        cursor: not-allowed;
      }
    }
    .disabled {
      cursor: not-allowed !important;
    }
    .disabledRegister {
      cursor: default !important;
      background: gray;
      color: white;
      &:hover {
        background: gray !important;
        color: white !important;
      }
    }
    .controls-item {
      input[type="checkbox"] {
        box-sizing: border-box;
        padding: 0;
        margin-right: .4em;
        width: 100%;
        margin-bottom: 10px;
        &:hover + label:before {
          background: #e6e6e6;
        }
      }
      label {
        position: relative;
        display: inline-block;
        padding-left: 16px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        vertical-align: middle;
      }

      label:before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 8px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 12px;
        height: 12px;
        border: 1px solid #6c6c6c;
        left: 0;
        transition: .2s;
      }
      .labelisTrue:hover + label:before {
        background: #ffffff !important;
      }
      .labelisTrue + label:after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 11px;
        background-color: #383838;
        width: 6px;
        height: 6px;
        left: 3px;
      }
      span {
        line-height: 18px;
      }
    }
  }

</style>
