<template>
<div class="min-h-50" ref="searchResult" :class="{ isNoticeHead: !$store.state.isIndexTopNotice, mainBody: $store.state.isIndexTopMainBody }">
  <div v-if="list !== null">
    <div class="BookList py-4 lg:py-6 xl:py-8 px-2 md:px-4 max-w-7xl mx-auto">
      <div class="main mx-auto">
        <div id="list-content--result" class="list-content list-content--normal">
          <p class="list-info-result text-center text-2xl md:text-3xl mb-2 md:mb-3">
            "<span class="textColorRed text-NotoSansBold">{{ $route.query.keyword }}</span>"
          </p>
          <p class="text-center mb-4  md:mb-10 text-sm text-NotoSansRegular">搜尋結果共計
            <span class="font-bold" v-if="list.data">{{ list.total ? list.total : 0 }}</span>筆，按此
            <router-link class="cursor-pointer textColorRed" :to="{ name: 'index' }">返回</router-link>首頁
          </p>
          <div class="flex flex-wrap">
            <div class="w-1/2 md:w-1/3 lg:w-1/4 mb-4 flex-shrink" v-for="(item, index) in list.data" :key="index"
              >
              <ProductModule :data="list.data[index]" v-on:refreash="refreash" />
            </div>
          </div>
        </div>
      </div>

    </div>

    <PaginateComponent :pagination="pagination" v-on:pageChangeHandler="pageChangeHandler" />

  </div>
  <div v-else class="pt-8">
    <img src="~@/assets/icon/Pulse.gif" class="mx-auto h-12">
  </div>
</div>
</template>

<script>
import axios from 'axios'
import Cart from '@/components/modules/addCart'
import ProductModule from '@/components/product/ProductModule'
import PaginateComponent from '@/components/modules/Paginatation'
import jump from 'jump.js'
import advertising from '@/components/modules/advertising'
export default {
  name: 'SearchResult',
  metaInfo () {
    return {
      title: this.page_title
    }
  },
  data () {
    return {
      page_title: '',

      list: null,

      // pagination
      pageSize: 40,
      pagination: {
        currentPage: 1,
        length: 5
      }
    }
  },
  mixins: [
    Cart,
    advertising
  ],
  components: {
    ProductModule,
    PaginateComponent
  },
  watch: {
    '$route.query': {
      handler (query, oldQuery) {
        if (query.keyword !== oldQuery.keyword) {
          this.getData()
        }
      }
    }
  },
  computed: {
    keyword () {
      return this.$route.query.keyword
    }
  },
  mounted () {
    this.getData()
  },
  methods: {
    async getData () {
      let self = this
      let dataObj = {
        params: {
          query: self.$route.query.keyword,
          pageSize: self.pageSize,
          page: self.pagination.currentPage
        }
      }
      await axios.get('/products', dataObj)
        .then((response) => {
          self.page_title = self.$route.query.keyword
          self.list = response.data
          self.pagination.length = response.data.last_page
          self.$nextTick(() => {
            jump(self.$refs.searchResult, {
              duration: 0,
              offset: -115
            })
          })
          self.searchCode(self.$route.query.keyword, response.data.data)
        })
        .catch((error) => {
          console.log(error)
        })
    },
    async pageChange (pageNum) {
      let self = this
      self.pagination.currentPage = pageNum
      self.getData()
    },
    async pageChangeHandler (pageChangeHandler) {
      let self = this
      self.pagination.currentPage = pageChangeHandler
      self.getData()
    },
    refreash (refreash) {
      this.getData()
    }
  }
}
</script>

<style lang="scss" scoped>
  .BookList {
    min-height: 60vh;
  }
</style>
