<template>
  <div class="IntroPen md:-mx-10">
    <div class="md:py-2 text-NotoSansRegular">
      <div class="flex items-end md:items-center px-1 md:px-0 md:py-3 lg:py-16 livepen-bg">
        <div class="w-full md:w-1/2 md:pl-4">
        <div class="flex items-end mb-2">
          <div class="flex items-center">
            <div class="w-16 md:w-20 mr-1">
              <img src="~@/assets/logo/livePenlogo.png" alt="LiveABC" class="object-contain">
            </div>
            <h6 class="text-lg md:text-2xl mr-1 font-bold">智慧點讀筆介紹</h6>
          </div>
          <div class="ml-1 w-8 md:hidden">
            <img src="~@/assets/images/readingPen/lp_s.png" alt="智慧點讀筆介紹" class="object-contain">
          </div>
        </div>
          <p class="leading-loose text-sm mb-4 md:mb-2">學習語言時，遇到不會唸的單字或句子，不是問人就是只能拿起翻譯機聽著死板發音，這種學習方式已經落伍了！ LiveABC智慧點讀筆 邀請您一起來體驗嶄新的學習模式！</p>
          <p class="leading-loose text-sm mb-6 md:mb-2">LiveABC智慧點讀筆，使用高品質的光學感應筆頭，書中的單字、句子、段落都可隨點隨聽，走到哪、讀到哪、聽到哪，不受任何時間地點限制，攜帶方便，外型輕巧時尚，符合現代人講究方便、快速、有效的學習需求，一筆在手，樂趣無窮。</p>
        </div>
      </div>

      <div class="flex flex-wrap py-6 lg:py-16 px-3 functionIntro-bg">
        <div class="w-full lg:w-1/3 relative hidden lg:block">
          <img src="~@/assets/images/readingPen/human.png" alt="HERE WE GO" class="w-11/12 human absolute object-contain">
        </div>
        <div class="w-full lg:w-2/3 md:px-8">
          <div class="flex mb-2 items-center">
            <div class="w-16 md:w-20 mr-1">
              <img src="~@/assets/logo/livePenlogo.png" alt="LiveABC">
            </div>
            <h6 class="text-lg md:text-2xl mr-2 font-bold">智慧點讀筆功能說明</h6>
          </div>
          <ul class="list-decimal list-inside text-sm md:text-base leading-loose md:leading-relaxed">
            <li>高品質光學感應筆頭，以筆尖輕觸頁面上的文字或圖片，即可進入點讀模式，隨點隨聽，學習零距離。</li>
            <li>內建高品質喇叭，可依個人需求外接耳機，打造專屬的語言學習環境。</li>
            <li>搭配錄音卡（隨筆附贈）使用，錄音效果有如一般錄音筆。</li>
            <li>內建16G大容量記憶體，可儲存多本書的檔案。</li>
            <li>外型輕巧時尚，攜帶方便，不受時間地點限制，走到哪、讀到哪、聽到哪。 </li>
          </ul>
        </div>
      </div>

      <div class="w-full px-4 md:px-8 lg:px-16 py-3 pb-6">
        <h6 class="text-lg md:text-2xl font-bold md:hidden">點讀筆按鍵說明</h6>
        <img src="~@/assets/images/readingPen/lo.png" alt="產品詳細" class="object-contain hidden md:block mx-auto">
        <img src="~@/assets/images/readingPen/lo_mobile.png" alt="產品詳細" class="object-contain md:hidden mx-auto">
      </div>

      <div class="md:px-8 lg:px-16 py-6" style="background-color: #d7ebf4">
        <div class="flex items-center mb-4 flex-wrap">
          <div class="flex items-center mb-1 md:mb-0 px-4 md:px-0">
            <div class="w-16 md:w-20 mr-1">
              <img src="~@/assets/logo/livePenlogo.png" alt="LiveABC">
            </div>
            <h6 class="text-lg md:text-2xl mr-2 mb-0 font-bold">智慧點讀筆使用範例</h6>
          </div>
          <p class="textColorRed text-xs md:text-sm mb-0 px-4 md:px-0">※每本書可實際點讀發音之部分皆不同，依各書所列為準。</p>
        </div>
        <div class="mb-2 md:mb-6">
          <img src="~@/assets/images/readingPen/use.png" alt="使用範例" class="w-full object-contain hidden md:block">
          <img src="~@/assets/images/readingPen/pic_mobi.png" alt="使用範例" class="w-full object-contain md:hidden">
        </div>
        <div class="flex mb-2 md:hidden px-2 items-center">
          <div class="w-1/5 font-bold flex items-center">
            <span class="text-sm mr-1">➊</span><span class="text-xs">筆符號</span>
          </div>
          <div class="w-4/5 text-xs">點選此符號，即可聆聽整段發音。</div>
        </div>

        <div class="flex mb-2 md:hidden px-2 items-center">
          <div class="w-1/5 font-bold flex items-center">
            <span class="text-sm mr-1">➋</span><span class="text-xs">句子</span>
          </div>
          <div class="w-4/5 text-xs">只要點句中的其中一個單字，即可聆聽整句發音。</div>
        </div>

        <div class="flex mb-2 md:hidden px-2 items-center">
          <div class="w-1/5 font-bold flex items-center">
            <span class="text-sm mr-1">➌</span><span class="text-xs">筆符號</span>
          </div>
          <div class="w-4/5 text-xs">點選此符號，即可聆聽整段發音。</div>
        </div>
          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/qASlSGLh03Y" frameborder="0" allowfullscreen></iframe>
          </div>
      </div>
    </div>

    <!-- button -->
    <div class="fixed buy_mobile text-NotoSansRegular px-6 py-2 rounded-full text-sm md:hidden text-NotoSansBold" @click="toBuySmart">購買點讀筆</div>
    <div class="fixed buyBtn text-NotoSansRegular px-2 py-5 rounded-full hidden md:block text-xl cursor-pointer text-NotoSansBold" @click="toBuySmart">＋購買點讀筆</div>
    <!-- button -->
  </div>
</template>

<script>
export default {
  name: 'IntroPen',
  data () {
    return {
    }
  },
  components: {
  },
  computed: {
  },
  mounted () {
  },
  updated () {
  },
  methods: {
    toBuySmart () {
      this.$router.push({ name: 'detail', params: { category: 'package', id: 6559 } })
    }
  }
}
</script>

<style lang="scss" scoped>
  * {
    box-sizing: border-box;
  }

  .livepen-bg {
    background-image: url('~@/assets/images/readingPen/pen.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }
  @media (max-width: 767px) {
    .livepen-bg {
      background: none;
    }
  }
  .buy_mobile {
    background-color: #e60012;
    color: white;
    bottom: 2.5%;
    left: 50%;
    transform: translateX(-50%);
  }
  .buyBtn {
    writing-mode: vertical-lr;
    text-orientation: upright;
    right: 2.5%;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
    background-color: white;
    border-radius: 15px;
    border: 1px solid #e60012;
    color: #e60012;
    margin: 0 .2rem;
    &:hover {
      background-color: #e60012;
      color: white;
    }
  }
  .human {
    top: -6rem;
    left: 50%;
    transform: translateX(-50%);
    max-width: 360px;
  }
  .functionIntro-bg {
    background: linear-gradient(90deg, rgba(255,255,255,1) 57%, #d7ebf4 100%);
    @media (max-width: 768px) {
      background: #d7ebf4;
    }
  }

  // Intro
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
</style>
