<template>
  <div>
    <!-- <Breadcrumb :magData="checkMagData" /> -->
    <MagModule :magData="checkMagData" class="py-5 lg:py-8" />
    <!-- filter -->
    <div class="w-full flex justify-start flex-wrap mb-4">
      <div class="w-1/2 md:w-1/4 relative mb-2 px-1">
        <select class="mx-auto block appearance-none w-full border border-gray-700 textColorDarkBlack py-2 pl-2 pr-3 rounded leading-tight focus:outline-none bg-white"
          id="grid-state" v-model="filter.year" @change="updatedYear">
          <option value="" disabled="disabled" selected="selected" hidden="hidden">依年份排列</option>
          <option value="" v-if="filter.year !== ''">ALL</option>
          <option v-for="item in wholeYear" :key="item" :value="item">{{ item }}年</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-1 md:px-2 textColorDarkBlack">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
        </div>
      </div>

      <div class="w-1/2 md:w-1/4 relative mb-2 px-1">
        <select class="mx-auto block appearance-none w-full border border-gray-700 textColorDarkBlack py-2 pl-2 pr-3 rounded leading-tight focus:outline-none bg-white"
          id="grid-state" v-model="filter.month" :disabled="filter.year === ''" @change="geClass">
          <option value="" disabled="disabled" selected="selected" hidden="hidden">依月份排列</option>
          <option value="" v-if="filter.month !== ''">ALL</option>
          <option v-for="item in wholeMonth" :key="item" :value="item">{{ item }}月</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-1 md:px-2 textColorDarkBlack">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
        </div>
      </div>

      <!-- <div class="w-1/2 md:w-1/4 relative mb-2 px-1">
        <select class=" mx-auto block appearance-none w-full border border-gray-700 textColorDarkBlack py-2 pl-2 pr-3 rounded leading-tight focus:outline-none bg-white"
          id="grid-state" v-model="filter.parentId" @change="geSecCategory">
          <option value="" disabled="disabled" selected="selected" hidden="hidden">依主分類排列</option>
          <option value="" v-if="filter.parentId !== ''">ALL</option>
          <option v-for="item in categoryData" :key="item.name" :value="item.id">{{ item.name }}</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-1 md:px-2 textColorDarkBlack">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
        </div>
      </div>

      <div class="w-1/2 md:w-1/4 relative mb-2 px-1">
        <select class="mx-auto block appearance-none w-full border border-gray-700 textColorDarkBlack py-2 pl-2 pr-3 rounded leading-tight focus:outline-none bg-white"
          id="grid-state" v-model="filter.cateId" :disabled="secondCategoryData === null" @change="setSecCategory">
          <option value="" disabled="disabled" selected="selected" hidden="hidden">依子分類排列</option>
          <option value="" v-if="filter.cateId !== ''">ALL</option>
          <option v-for="item in secondCategoryData" :key="item.name" :value="item.id">{{ item.name }}</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-1 md:px-2 textColorDarkBlack">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
        </div>
      </div> -->
    </div>
    <!-- list -->
    <div class="flex flex-wrap" v-if="listData">
      <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 mb-4 flex-shrink sm:px-2" v-for="(item, index) in listData" :key="index">
        <ClassModule :classData="listData[index]"/>
      </div>
    </div>
    <div class="loading flex flex-wrap" v-else>
      <vue-content-loading :width="100" :height="80" class="w-1/4 p-2" v-for="(item, index) in 20" :key="index">
        <rect cx="30" cy="30" width="100" r="30" height="80" x="0" />
      </vue-content-loading>
    </div>
    <PaginateComponent :pagination="pagination" v-on:pageChangeHandler="pageChangeHandler" />
  </div>
</template>

<script>
/* eslint-disable no-unused-expressions */
import axios from 'axios'
import MagModule from '@/components/library/MagModule'
import ClassModule from '@/components/library/ClassModule'
import VueContentLoading from 'vue-content-loading'
import PaginateComponent from '@/components/modules/Paginatation'
// import Breadcrumb from '@/components/library/Breadcrumb'
import Bus from '@/components/modules/bus.js'
export default {
  name: 'ClaasList',
  metaInfo () {
    return {
      title: '數位課程',
      titleTemplate: null
    }
  },
  data () {
    return {
      magData: {},
      categoryData: null,
      secondCategoryData: null,
      listData: null,

      pageSize: 20,
      pagination: {
        currentPage: 1,
        length: 5
      },

      filter: {
        year: '',
        month: '',

        parentId: '',
        cateId: '',
        categoryId: '',

        query: '',

        lessonType: ''
      }
    }
  },
  components: {
    MagModule,
    ClassModule,
    VueContentLoading,
    PaginateComponent
    // Breadcrumb
  },
  watch: {
  },
  computed: {
    wholeYear () {
      let thisYear = new Date().getFullYear()
      let beginYear = 2009
      let gap = (thisYear - beginYear) - 9

      let yearAr = []
      for (let i = 0; i < 10 + gap; i++) {
        yearAr.push(beginYear + i)
      }
      return yearAr
    },
    wholeMonth () {
      if (this.filter.year && this.filter.year < new Date().getFullYear()) {
        return 12
      } else if (this.filter.year && this.filter.year === new Date().getFullYear()) {
        let thisMonth = new Date().getMonth() + 1
        return thisMonth
      } else {
        return ''
      }
    },
    checkMagData () {
      let self = this
      if (self.categoryData && self.$route.name === 'themeList') {
        // 主題館
        return self.categoryData[Number(self.$route.params.categoryId) - 1]
      } else if (self.categoryData && self.$route.name === 'classList') {
        // 雜誌館
        return self.magData
      } else {
        return {}
      }
    }
  },
  mounted () {
    this.$route.name === 'classList' ? this.magPage() : null
    this.$route.name === 'themeList' ? this.themePage() : null
  },
  updated () {
  },
  methods: {
    searchText () {
      let self = this
      Bus.$on('val', (data) => {
        console.log(data)
        self.filter.query = data
        self.geClass()
      })
    },
    async magPage () {
      // 雜誌館
      await this.geMagData()
      await this.geClass()
      await this.geCategory()
    },
    async themePage () {
      // 主題館
      let self = this
      await self.geClass()
      await self.geCategory()
      if (self.$route.params.id) {
        self.filter.parentId = self.$route.params.id
        await self.geSecCategory()
      }
    },
    async geCategory () {
      // 主分類資料
      let self = this
      let { data } = await axios.get(`/livelibrary/TravelTaiwan/Category`)
      self.categoryData = data.data
    },
    async geSecCategory () {
      // 主分類變動，獲取子分類
      let self = this
      self.$store.dispatch('isLoading', true)
      self.secondCategoryData = null
      self.filter.cateId = ''
      // self.changeRouter()

      if (self.filter.parentId !== '') {
        let dataObj = {
          params: {}
        }
        if (self.filter.parentId) {
          dataObj.params.parentId = self.filter.parentId
        }
        let { data } = await axios.get(`/livelibrary/Mag/Category`, dataObj)
        self.secondCategoryData = data.data
        self.geClass()
        // data ? self.$store.dispatch('isLoading', false) : null
      }
    },
    changeRouter () {
      let self = this
      if (self.$route.name === 'themeList') {
        self.$router.push({ name: 'themeList', params: { categoryId: self.filter.parentId } })
      } else if (this.$route.name === 'classList') {
        self.$router.push({ name: 'themeList', params: { categoryId: self.filter.parentId } })
      }
    },
    setSecCategory () {
      this.filter.cateId = this.filter.cateId
      this.geClass()
      this.changeRouter()
    },
    async geClass () {
      let self = this
      self.$store.dispatch('isLoading', true)
      let dataObj = {
        params: {}
      }

      if (self.$route.params.categoryId) {
        // self.$route.name === 'themeList' ? dataObj.params.categoryId = self.$route.params.categoryId : null
        self.$route.name === 'themeList' ? dataObj.params.cateId = self.$route.params.categoryId : null
        self.$route.name === 'classList' ? dataObj.params.magId = self.$route.params.categoryId : null
      }
      if (self.filter.year) {
        dataObj.params.year = self.filter.year
      }
      if (self.filter.month) {
        dataObj.params.month = self.filter.month
      }
      if (self.filter.parentId) {
        dataObj.params.cateId = self.filter.parentId
      }
      if (self.filter.lessonType) {
        dataObj.params.lessonType = self.filter.lessonType
      }
      if (self.filter.query) {
        dataObj.params.query = self.filter.query
      }
      let { data } = await axios.get(`/livelibrary/Mag/Lessons?page=${self.pagination.currentPage}&pageSize=${self.pageSize}`, dataObj)

      self.listData = data.data
      self.pagination.length = data.pageCount
      data ? self.$store.dispatch('isLoading', false) : null
    },
    async geMagData () {
      // 單本雜誌資料
      let { data } = await axios.get(`/livelibrary/Mag/${this.$route.params.categoryId}`)
      this.magData = data.data
    },
    updatedYear () {
      this.filter.month = ''
      this.geClass()
    },
    async pageChangeHandler (pageChangeHandler) {
      console.log(pageChangeHandler)
      let self = this
      self.pagination.currentPage = pageChangeHandler
      // await self.$router.push({
      //   name: 'productsList',
      //   params: {
      //     category: self.$route.params.category
      //   },
      //   query: {
      //     type: self.$route.query.type,
      //     category: self.$route.query.category,
      //     query: self.$route.query.query,
      //     scope: self.$route.query.scope,
      //     P: pageChangeHandler
      //   }
      // })
      self.geClass()
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
