<template>
  <div>
    <!-- <Breadcrumb /> -->
    <div class="min-h-screen py-6">
      <PackageModule v-if="lessonData && lessonData.lessonType && lessonData.lessonType === 'Package'" :data="lessonData" class="py-5 lg:py-8" />

      <LivePlayer :liveData="lessonData" v-if="lessonData && lessonData.lessonType !== 'Package'" />
    </div>
  </div>
</template>

<script>
/* eslint-disable no-unused-expressions */
import axios from 'axios'
import PackageModule from '@/components/library/PackageModule'
import LivePlayer from 'live-player'
// import Breadcrumb from '@/components/library/Breadcrumb'
export default {
  name: 'LessonList',
  data () {
    return {
      lessonData: null
    }
  },
  components: {
    PackageModule,
    LivePlayer
    // Breadcrumb
  },
  watch: {
    '$route.params.id' (newVal, oldVal) {
      if (newVal !== oldVal) {
        this.geClass()
      }
    }
  },
  mounted () {
    this.geClass()
  },
  computed: {
  },
  methods: {
    async geClass () {
      let self = this
      self.$store.dispatch('isLoading', true)

      let { data } = await axios.get(`/livelibrary/Lesson/${self.$route.params.id}`)

      self.lessonData = data.data
      data ? self.$store.dispatch('isLoading', false) : null
    }
  }
}
</script>

<style lang="scss">
  #iframeContain {
    max-width: 1000px !important;
    min-width: 320px!important;
    width: 100% !important;
    min-height: 100vh !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .effect {
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    padding: 20px 0px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
  }
  .effect.effect-1 {
    transition: all 0.2s linear 0s;
    &:before {
      content: "➜";
      font-size: 18px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 0;
      top: 0;
      opacity: 0;
      height: 100%;
      width: 40px;
      transition: all 0.2s linear 0s;
    }
    &:hover {
      text-indent: -20px;
      &:before {
        opacity: 1;
        text-indent: 0px;
      }
    }
  }
</style>
