<template>
<div>
  <!-- <Breadcrumb /> -->
  <div class="slider-magazine pb-6 md:pb-8 w-full relative overflow-hidden">
    <h3 class="text-center mb-0 py-5 lg:py-6 text-lg lg:text-xl text-NotoSansBold textColorblack tracking-wider">雜誌館</h3>

    <div class="flex flex-wrap" v-if="magData" ref="mag">
      <router-link :to="{ name: 'classList', params: { categoryId: item.id } }" class="w-1/2 md:w-1/3 lg:w-1/6 mb-4 px-2 flex-shrink" v-for="(item, index) in magData" :key="index">
        <img :src="item.cover" alt="" class="block object-contain hover-effect">
      </router-link>
    </div>
    <div class="loading" v-else>
      <div class="hidden md:block">
        <vue-content-loading :width="200" :height="35">
          <rect cx="30" cy="30" width="30" r="30" height="35" x="0" />
          <rect cx="30" cy="30" width="30" r="30" height="35" x="35" />
          <rect cx="30" cy="30" width="30" r="30" height="35" x="70" />
          <rect cx="30" cy="30" width="30" r="30" height="35" x="105" />
          <rect cx="30" cy="30" width="30" r="30" height="35" x="140" />
          <rect cx="30" cy="30" width="30" r="30" height="35" x="175" />
        </vue-content-loading>
      </div>
      <div class="md:hidden">
        <vue-content-loading :width="300" :height="150" v-for="(item, index) in 3" :key="index">
          <rect cx="30" cy="30" width="130" r="30" height="135" x="10" />
          <rect cx="30" cy="30" width="130" r="30" height="135" x="160" />
        </vue-content-loading>
      </div>
    </div>
  </div>
  <h3 class="text-center mb-0 py-5 lg:py-6 text-lg lg:text-xl text-NotoSansBold textColorblack tracking-wider">主題館</h3>
  <div class="flex flex-wrap" v-if="categoryData" ref="topic">
    <div class="w-1/2 lg:w-1/4 flex-shrink cursor-pointer p-2" v-for="(item, index) in categoryData" :key="index">
      <router-link :to="{ name: 'themeList', params: { categoryId: item.id } }" class="block btn-3 hover-border-4 hover-effect">
        <img :src="item.horizontalCover" alt="" class="hidden md:block object-contain w-full">
        <img :src="item.verticalCover" alt="" class="md:hidden object-contain w-full">
      </router-link>
    </div>
  </div>
  <div class="loading" v-else>
    <div class="hidden md:block">
      <vue-content-loading :width="200" :height="35" v-for="(item, index) in 4" :key="index">
        <rect cx="30" cy="30" width="45" r="30" height="30" x="0" />
        <rect cx="30" cy="30" width="45" r="30" height="30" x="50" />
        <rect cx="30" cy="30" width="45" r="30" height="30" x="100" />
        <rect cx="30" cy="30" width="45" r="30" height="30" x="150" />
      </vue-content-loading>
    </div>
    <div class="md:hidden">
      <vue-content-loading :width="300" :height="150" v-for="(item, index) in 3" :key="index">
        <rect cx="30" cy="30" width="110" r="30" height="135" x="20" />
        <rect cx="30" cy="30" width="110" r="30" height="135" x="160" />
      </vue-content-loading>
    </div>
  </div>
  <h3 class="text-center mb-0 py-5 lg:py-6 text-lg lg:text-xl text-NotoSansBold textColorblack tracking-wider">遊台灣</h3>
  <div class="flex flex-wrap" v-if="countryData" ref="travel">
    <div class="w-1/2 md:w-1/5 flex-shrink cursor-pointer p-2" v-for="(item, index) in countryData" :key="index">
      <router-link :to="{ name: 'themeList', params: { categoryId: item.id } }" class="block btn-3 hover-border-4 hover-effect">
        <img :src="item.cover" alt="" class="object-contain w-full">
      </router-link>
    </div>
  </div>
</div>
</template>

<script>
import axios from 'axios'
import VueContentLoading from 'vue-content-loading'
import jump from 'jump.js'
import Bus from '@/components/modules/bus.js'
// import Breadcrumb from '@/components/library/Breadcrumb'
export default {
  name: 'MagazineHouse',
  metaInfo () {
    return {
      title: '圖書館',
      titleTemplate: null
    }
  },
  data () {
    return {
      magData: null,
      categoryData: null,
      countryData: null
    }
  },
  components: {
    VueContentLoading
    // Breadcrumb
  },
  computed: {
  },
  mounted () {
    this.geMag()
    this.geCategory()
    this.geCountry()
    this.searchText()
  },
  updated () {
  },
  methods: {
    searchText () {
      let self = this
      Bus.$on('anchor', (data) => {
        if (data) {
          self.jumpToPlace(data)
        }
      })
    },
    async geMag () {
      let self = this
      let { data } = await axios.get('/livelibrary/Mag')
      self.magData = data.data
    },
    async geCategory () {
      let self = this
      let { data } = await axios.get('/livelibrary/Mag/Category')
      self.categoryData = data.data
    },
    async geCountry () {
      let self = this
      let { data } = await axios.get('/livelibrary/TravelTaiwan/County')
      self.countryData = data.data
    },
    jumpToPlace (data) {
      let self = this
      if (data === 'mag' && self.$refs.mag) {
        jump(self.$refs.mag, {
          duration: 300,
          offset: -100
        })
      } else if (data === 'topic' && self.$refs.topic) {
        jump(self.$refs.topic, {
          duration: 400,
          offset: -100
        })
      } else if (data === 'travel' && self.$refs.travel) {
        jump(self.$refs.travel, {
          duration: 400,
          offset: -100
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .hover-effect {
    transition: .1s;
    &:hover {
      box-shadow: 6px 6px 5px #aaaaaa;
    }
  }
</style>
