<template>
  <div class="event-view min-h-50 text-NotoSansLight mx-auto main-body text-black-livetalk">
    <header class="fixed bg-white w-full shadow-lg">
      <div class="py-4 px-4 max-w-7xl mx-auto">
        <div class="">
          <nav class="flex items-center justify-between flex-wrap lg:flex-no-wrap">
            <div class="lg:hidden"></div>
            <div class="flex items-center flex-no-shrink mr-6 ">
                <img src="~@/assets/images/livetalk/livetalk_logo.png" class="h-10 md:h-16 mr-3 object-contain">
                <div>
                  <p class="text-xs m-0 font-bold hidden lg:block">LiveTalk</p>
                  <p class="text-xs m-0 font-bold hidden lg:block">線上真人口說教室</p>
                  <p class="text-xs m-0 font-bold lg:hidden">LiveTalk 線上真人口說教室</p>
                </div>
            </div>
            <div class="block lg:hidden">
              <button @click="isHamMenu = !isHamMenu"
                class="navbar-burger flex items-center px-3 py-2 border rounded text-white border-white hover:text-white hover:border-white focus:outline-none">
                <svg class="fill-current h-6 w-6 text-gray-700" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <title>Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                </svg>
              </button>
            </div>
            <div id="main-nav" class="w-full flex-grow lg:flex items-center lg:w-auto" :class="{ hidden: !isHamMenu }">
              <div class="text-sm lg:flex-grow mt-2 animated jackinthebox lg:flex lg:justify-end">
                <a @click="scrollTo(0)"
                  class="menu-item cursor-pointer block lg:inline-block text-md font-bold  sm:hover:border-indigo-400  mx-2 focus:text-blue-500  p-1 sm:hover:bg-transparent">
                  課程特色
                </a>
                <a @click="scrollTo(1)"
                  class="menu-item cursor-pointer block lg:inline-block text-md font-bold sm:hover:border-indigo-400  mx-2 focus:text-blue-500  p-1 sm:hover:bg-transparent">
                  影片介紹
                </a>
                <a @click="scrollTo(2)"
                  class="menu-item cursor-pointer block lg:inline-block text-md font-bold  sm:hover:border-indigo-400  mx-2 focus:text-blue-500  p-1 sm:hover:bg-transparent">
                  師資介紹
                </a>
                <a @click="scrollTo(3)"
                  class="menu-item cursor-pointer block lg:inline-block text-md font-bold  sm:hover:border-indigo-400  mx-2 focus:text-blue-500  p-1 sm:hover:bg-transparent">
                  支援平台
                </a>
                <router-link :to="{ name: 'detail', params: { category: 'package', id: 6791 } }"
                  class="menu-item block lg:inline-block text-md font-bold sm:hover:border-indigo-400  mx-2 focus:text-blue-500  p-1 sm:hover:bg-transparent">
                  立即訂購
                </router-link>
                <router-link :to="{ name: 'login' }"
                  class="menu-item block lg:inline-block text-md font-bold  sm:hover:border-indigo-400  mx-2 focus:text-blue-500  p-1 sm:hover:bg-transparent">
                  立即登入
                </router-link>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <div class="banner">
      <div class="lg:py-5" style="background: #F8002D;"></div>
      <div class="banner-main">
        <img class="img w-full h-full object-contain border-0 mx-auto hidden md:block" src="~@/assets/images/livetalk/banner.png">
        <img class="img w-full h-full object-contain border-0 mx-auto md:hidden" src="~@/assets/images/livetalk/banner_m.png">
      </div>
    </div>

    <div class="main">
      <div class="intro flex py-8 lg:py-12 flex-wrap px-4 max-w-7xl mx-auto items-center">
        <div class="w-full md:w-1/2 text-center md:text-left mb-6 lg:mb-0 text-NotoSansRegular">
          <h4 class="text-xl lg:text-2xl textColorRed font-bold lg:mb-2">專屬認證合格師資、不再害怕開口說</h4>
          <h5 class="text-base lg:text-xl">LiveABC口碑教材+線上學習+一對一真人家教</h5>
          <h5 class="text-base lg:text-xl">LiveTalk幫你建立口語實力，提升聽說讀寫能力</h5>
        </div>
        <div class="w-full md:w-1/2 flex justify-between items-center">
          <div class="w-1/3 px-2">
            <img src="~@/assets/images/livetalk/Group-13.png" class="object-contain mx-auto max-w-full" data-aos="fade-in" data-aos-easing="ease" data-aos-once="true">
          </div>
          <div class="w-1/3 px-2">
            <img src="~@/assets/images/livetalk/Group-14.png" class="object-contain mx-auto max-w-full" data-aos="fade-in" data-aos-easing="ease" data-aos-once="true" data-aos-delay="200">
          </div>
          <div class="w-1/3 px-2">
            <img src="~@/assets/images/livetalk/Group-15.png" class="object-contain mx-auto max-w-full" data-aos="fade-in" data-aos-easing="ease" data-aos-once="true" data-aos-delay="400">
          </div>
        </div>
      </div>
      <!-- 課程特色 -->
      <div class="course-features max-w-7xl mx-auto mb-8" id="feature" ref="Anchor0">
        <h4 class="text-xl lg:text-2xl mb-4 lg:mb-6 text-center lg:text-left px-4 text-NotoSansRegular">課程特色</h4>

        <div class="flex flex-wrap">
          <div class="rounded overflow-hidden w-1/3 px-2 lg:px-4 mb-2 lg:mb-0"
            v-for="(item, index) in features" :key="index" data-aos="fade-in"
            data-aos-easing="ease" data-aos-once="true" data-aos-offset="100">
            <img class="w-full hidden lg:block" :src="item.img_url">
            <div class="py-4 lg:py-6 border lg:border-none rounded-lg h-full" style="border-color: #F8002D;">
              <div class="font-bold lg:mb-1 text-center lg:text-left lg:flex items-center" style="color: #CD2222;">
                <p class="m-0 text-sm lg:text-xl md:mr-1 whitespace-pre-wrap">{{ item.title }}</p>
                <span class="text-sm font-normal hidden lg:block" v-if="item.annotation">({{ item.annotation }})</span>
              </div>
              <ul class="list-disc hidden lg:block">
                <li v-for="(child, idx) in item.child" :key="idx">{{ child.text }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- 影片介紹 -->
      <div class="film mb-10 hidden lg:block px-2 xl:px-0" ref="Anchor1">
        <h4 class="text-xl lg:text-2xl mb-4 lg:mb-6 max-w-7xl mx-auto px-4 text-NotoSansRegular">影片介紹</h4>
        <div style="background-image: linear-gradient(to right, #F8002D, #F8002D 50%, white 50%);">
          <div class="flex items-center max-w-7xl mx-auto bg-white">
            <div class="w-2/3">
              <div class="video-container" data-aos="fade-in" data-aos-easing="ease" data-aos-once="true">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/5nAXfLDtjXk" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
            <div class="w-1/3 h-full">
              <img src="~@/assets/images/livetalk/livetalk_logo.svg" class="w-48 object-contain mx-auto" data-aos="fade-left" data-aos-easing="ease" data-aos-once="true">
            </div>
          </div>
        </div>
      </div>
      <!-- 師資介紹 -->
      <div class="teacher max-w-7xl mx-auto mb-4 lg:mb-6 xl:mb-16" ref="Anchor2" id="teacher">
        <h4 class="text-xl lg:text-2xl mb-4 lg:mb-6 hidden lg:block px-4 text-NotoSansRegular">師資介紹</h4>
        <div class="flex-wrap hidden lg:flex">
          <div class="md:max-w-sm overflow-hidden w-full md:w-1/3 px-2 lg:px-4 mb-2 lg:mb-0" v-for="(item, index) in teachers01" :key="index">
            <img class="max-w-full mb-3" :src="item.img_url" data-aos="fade-in" data-aos-easing="ease" data-aos-once="true">
            <div class="py-1 md:py-2 h-full mb-4">
              <div class="font-bold lg:mb-2 text-NotoSansRegular">
                <a class="text-base lg:text-xl md:mr-1 pb-1 font-black name w-auto relative cursor-default">{{ item.name }}</a>
                <p class="text-base font-normal leading-relaxed mt-1" v-if="item.annotation">({{ item.annotation }})</p>
              </div>
              <p class="m-0 leading-relaxed">{{ item.text }}</p>
            </div>
          </div>
        </div>
        <div class="flex-wrap hidden lg:flex mb-8">
          <div class="md:max-w-sm overflow-hidden w-full md:w-1/3 px-2 lg:px-4 mb-2 lg:mb-0 flex items-center" v-for="(item, index) in teachers02" :key="index">
            <img class="max-w-full mr-4" :src="item.img_url" data-aos="fade-in" data-aos-easing="ease" data-aos-once="true">
            <div class="py-1 md:py-2 lg:py-4 h-full">
              <div class="font-bold lg:mb-2 text-center md:text-left">
                <a class="m-0 text-base lg:text-xl md:mr-1 whitespace-pre-wrap font-black name relative cursor-default text-NotoSansRegular">{{ item.name }}</a>
                <p class="m-0 text-lg lg:text-xl whitespace-pre-wrap font-bold name relative text-NotoSansRegular" v-if="item.secondName">{{ item.secondName }}</p>
                <p class="text-base font-normal" v-if="item.annotation">({{ item.annotation }})</p>
              </div>
            </div>
          </div>
        </div>
        <div class="flex">
          <div class="lg:max-w-sm overflow-hidden w-full md:w-1/3 px-2 lg:px-4 mb-2 lg:mb-0 flex items-center flex-col md:flex-row" v-for="(item, index) in teachers03" :key="index">
            <div class="w-auto lg:mr-4 mb-2 lg:mb-0">
              <img class="max-w-full mx-auto" :src="item.img_url" data-aos="fade-in" data-aos-easing="ease" data-aos-once="true">
            </div>
            <div class="w-auto md:px-2 lg:px-0 text-NotoSansRegular">
              <a class="m-0 text-lg lg:text-xl whitespace-pre-wrap font-black name relative cursor-default">{{ item.name }}</a>
              <p class="m-0 text-lg lg:text-xl font-black name relative whitespace-no-wrap" v-if="item.secondName">{{ item.secondName }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- 支援跨平台學習 -->
      <div class="cross-platform max-w-7xl mx-auto flex flex-wrap mb-10 px-2" ref="Anchor3">
        <div class="w-full md:w-1/2 order-2 lg:order-1 px-2 lg:px-0">
          <h4 class="text-xl lg:text-2xl text-NotoSansRegular mb-2 xl:mb-3 text-center lg:text-left whitespace-pre-wrap flex flex-col sm:flex-row justify-center lg:justify-start">
            <span>支援跨平台學習</span>
            <span class="hidden sm:block">&ensp;</span>
            <span>隨時隨地開口說</span>
          </h4>
          <p class="text-base lg:text-xl text-center lg:text-left text-NotoSansRegular leading-relaxed">
            Livetalk可以使用於 桌上型電腦、筆記型電腦、平板電腦及智慧型手機 (需使用視訊攝影機及麥克風等設備)建議使用CHROME網頁瀏覽並安裝ZOOM雲端視訊會議系統。
          </p>
        </div>
        <div class="w-1/2 hidden md:block order-3 lg:order-2 px-8 lg:px-0">
          <img src="~@/assets/images/livetalk/icon-group-1X.png" class="object-contain mx-auto max-w-full" data-aos="fade-in" data-aos-easing="ease" data-aos-once="true">
        </div>
        <div class="rwd-img w-full order-1 lg:order-3 mb-1 lg:mb-0">
          <img src="~@/assets/images/livetalk/image-02.png" class="object-contain mx-auto" data-aos="fade-in" data-aos-easing="ease" data-aos-once="true">
        </div>
      </div>
      <!-- 持續UPGRADE -->
      <div class="upgrade max-w-5xl mx-auto mb-12">
        <h4 class="text-center text-xl lg:text-2xl mb-6 lg:mb-10 text-NotoSansRegular">立即訂購，持續UPGRADE!!</h4>
        <div class="flex justify-center items-center px-4 lg:px-0">
          <div class="w-1/4 px-2">
            <img src="~@/assets/images/livetalk/flow-1.png" class="object-contain mx-auto" data-aos="fade-left" data-aos-easing="ease" data-aos-once="true">
          </div>
          <div class="w-1/4 px-2">
            <img src="~@/assets/images/livetalk/flow-2.png" class="object-contain mx-auto" data-aos="fade-left" data-aos-easing="ease" data-aos-delay="100" data-aos-once="true">
          </div>
          <div class="w-1/4 px-2">
            <img src="~@/assets/images/livetalk/flow-3.png" class="object-contain mx-auto" data-aos="fade-left" data-aos-easing="ease" data-aos-delay="200" data-aos-once="true">
          </div>
          <div class="w-1/4 px-2">
            <img src="~@/assets/images/livetalk/flow-4.png" class="object-contain mx-auto" data-aos="fade-left" data-aos-easing="ease" data-aos-delay="300" data-aos-once="true">
          </div>
        </div>
      </div>
      <!-- 點數使用說明 -->
      <div class="instructions-points mb-10 max-w-7xl mx-auto px-2">
        <h4 class="text-center text-xl lg:text-2xl m-0 text-NotoSansRegular">點數使用說明</h4>
        <h5 class="text-center text-xl lg:text-2xl mb-5 text-NotoSansRegular">
          LiveTalk線上真人口說教室 點數30點 一口價
          <span class="textColorRed font-black text-3xl lg:text-5xl">4,500</span>元
          <span class="text-lg lg:text-xl">原價</span>
          <span class="text-lg lg:text-xl line-through">6000</span>
          <span class="text-lg lg:text-xl">元</span>
        </h5>

        <div class="lg:px-0">
          <table class="table-auto text-base lg:text-xl text-center border-separate font-bold max-w-2xl lg:max-w-3xl xl:max-w-5xl mx-auto"  data-aos="fade-in" data-aos-easing="ease" data-aos-once="true">
            <thead>
              <tr class="bg-red-livetalk text-white">
                <th class="w-1/4 border px-4 py-2 lg:py-4 rounded-tl-lg border-gray-700">模式</th>
                <th class="w-1/4 border px-4 py-2 lg:py-4 border-gray-700">上課時間</th>
                <th class="w-1/4 border px-4 py-2 lg:py-4 border-gray-700">點數使用方式</th>
                <th class="w-1/4 border px-4 py-2 lg:py-4 rounded-tr-lg border-gray-700">補充說明</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="border px-4 py-4 border-gray-700">一對一課程
                </td>
                <td class="border px-4 py-4 border-gray-700">25分鐘</td>
                <td class="border px-4 py-4 border-gray-700" rowspan="2">每堂扣3-5點</td>
                <td class="border px-4 py-4 rounded-br-lg border-gray-700" rowspan="2">扣點方式依上課人數而定，30點最多可上10堂課。</td>
              </tr>
              <tr class="">
                <td class="border px-4 py-4 rounded-bl-lg border-gray-700">
                  <p class="m-0">一對多課程</p>
                  <p class="text-base m-0 hidden lg:block">備註說明：六人班需滿四人開班、四人班需滿二人開班。</p>
                </td>
                <td class="border px-4 py-4 border-gray-700">50分鐘</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- 立即訂購 -->
      <div class="buy flex justify-center mb-10 max-w-7xl mx-auto">
        <router-link :to="{ name: 'detail', params: { category: 'package', id: 6791 } }" class="buyBtn font-bold py-3 px-10 lg:py-5 lg:px-16 text-white text-xl lg:text-2xl cursor-pointer focus:outline-none">
          立即訂購
        </router-link>
      </div>
      <!-- 注意事項 -->
      <div class="precautions mb-10 max-w-7xl mx-auto">
        <h6 class="text-xl lg:text-2xl text-center font-bold mb-1 lg:mb-2">注意事項</h6>
        <p class="text-base lg:text-xl text-center font-medium">1. 購買點數付款成功後，3-5個工作天內會寄發電子郵件通知，敬請留意信件。</p>
        <p class="text-base lg:text-xl text-center font-medium">2. 點數需於期限內開通，開通後一年內使用完畢，逾期恕無法使用，點數經開通後恕不接受退換貨。 </p>
        <p class="text-base lg:text-xl text-center font-medium">3. 如有其他使用問題請洽：(02)25787838，將有專人為您服務。</p>
      </div>
      <!-- 上課網站 -->
      <div class="url-info flex justify-center mb-10 lg:mb-16 max-w-7xl mx-auto px-2 items-center">
        <img src="~@/assets/images/livetalk/livetalk_logo.png" class="max-w-full mr-3 object-contain">
        <div>
          <a href="https://livetalk.liveabc.com/" target="_blank">
            <h6 class="text-lg lg:text-xl text-red-livetalk font-black">上課網站：https://livetalk.liveabc.com/</h6>
          </a>
          <h6 class="text-lg lg:text-xl" style="color: #8E8484;">均可透過電腦、筆電、平板、手機登入網站上網登入使用</h6>
        </div>
      </div>
      <!-- 立即體驗 -->
      <div class="experience bg-red-livetalk hidden lg:block">
        <div class="content max-w-7xl mx-auto flex py-10">
          <a class="w-1/2 flex justify-end cursor-pointer pr-8 xl:pr-12" href="https://docs.google.com/forms/d/e/1FAIpQLSfiDA82QPXevpljXHjiOXljNn4sUV8KXp7gU57yXusZeXT2gQ/viewform" target="_blank">
            <img src="~@/assets/images/livetalk/call.png" class="object-contain max-w-full"  data-aos="fade-in" data-aos-easing="ease" data-aos-offset="50" data-aos-once="true">
          </a>
          <div class="w-1/2 text-white text-lg flex justify-center flex-col leading-relaxed text-NotoSansRegular tracking-wide">
            <p>注意事項：</p>
            <p>1.填寫完成課程體驗表單後，專員會與您電話聯繫確認體驗時間。</p>
            <p>2.您填寫的Email即為LiveTalk預設帳號</p>
            <p>3.課程體驗時間約為20分鐘</p>
            <p class="text-yellow-500">預約表單連結：<a href="http://bit.ly/2F4CIV4" target="_blank">http://bit.ly/2F4CIV4</a></p>
          </div>
        </div>
      </div>
    </div>
    <footer class="text-white py-10 text-center text-sm" style="background: #161616;">
      <p>Copyright © 2019 Hebron Soft Limited All Rights Reserved.</p>
    </footer>
  </div>
</template>
<script>
import jump from 'jump.js'
export default {
  name: 'LiveTalk',
  metaInfo () {
    return {
      title: 'LiveTalk線上真人口說教室',
      titleTemplate: null
    }
  },
  data () {
    return {
      isHamMenu: false,
      features: [
        { img_url: require('@/assets/images/livetalk/Group_01.png'),
          title: '主修課程',
          annotation: '通識英語會話課程',
          child: [
            { text: '內容由LiveABC研發，暢銷國際之英語通識教材' },
            { text: '依程度分級，涵蓋「歐洲語言能力架CEFR」' },
            { text: 'A1-B2程度 ‧字彙、會話、文法、閱讀、寫作等豐富學習內容' }
          ]
        },
        { img_url: require('@/assets/images/livetalk/Group_02.png'),
          title: '生活英語主題課程',
          annotation: '',
          child: [
            { text: '以生活中的常見場景作為課程主題' },
            { text: '包括點餐、購物、社交等最常見的生活會話場景，訓練即時應用口說能力' },
            { text: '最實用的內容滿足日常生活需求' }
          ]
        },
        { img_url: require('@/assets/images/livetalk/Group_03.png'),
          title: '旅遊英語主題課程',
          annotation: '',
          child: [
            { text: '從行程規劃到旅遊過程的超實用旅遊必備英語課程' },
            { text: '包括機場通關、飯店住宿、交通運輸等最常見的旅遊' },
            { text: '出國前加強實戰英語能力最佳課程' }
          ]
        },
        { img_url: require('@/assets/images/livetalk/Group_04.png'),
          title: '商業英語主題課程',
          annotation: '',
          child: [
            { text: '上班族專屬英語課程，幫你快速具備職場英語實力' },
            { text: '包括簡報、開會、合約洽談等常見的商場英語會話' },
            { text: '提升英語能力，增加職場競爭力' }
          ]
        },
        { img_url: require('@/assets/images/livetalk/Group_05.png'),
          title: '就愛ABC',
          annotation: 'ABC互動英語雜誌課程',
          child: [
            { text: '以流行趨勢與時事話題為主題，透過生活情境建立 口說自信' },
            { text: 'GEPT初級，A1-A2程度者，累積字彙1200字以上' }
          ]
        },
        { img_url: require('@/assets/images/livetalk/Group_06.png'),
          title: 'Live瘋話題',
          annotation: 'Live互動英語雜誌課程',
          child: [
            { text: '以實用知識、流行趨勢與時事話題為主題，提升日常 生活英語會話能力' },
            { text: '適合GEPT中級，A2-B1程度者，累積字彙2500字' }
          ]
        },
        { img_url: require('@/assets/images/livetalk/Group_07.png'),
          title: '多益攻略',
          annotation: 'TOEIC高分實戰課程',
          child: [
            { text: '完整剖析新制多益測驗題型，包含圖表、句意、篇 章結構等所有題型，專業的TOEIC老師為學員解析 答題拿分技巧。' }
          ]
        },
        { img_url: require('@/assets/images/livetalk/Group_08.png'),
          title: 'Biz上班族英語',
          annotation: 'biz互動英語雜誌課程',
          child: [
            { text: '搭配當月熱門主題、辦公室、職場等實用英語。' },
            { text: '訓練職場英語聽說能力、商業書信寫作能力。' },
            { text: '商業字彙、用語、片語相關用法完整解析。' }
          ]
        },
        { img_url: require('@/assets/images/livetalk/Group_09.png'),
          title: '日語主題課程',
          annotation: '互動日本語雜誌課程',
          child: [
            { text: '生活常用單字及基本對話' },
            { text: '熟悉50音、平假名或片假名寫法' },
            { text: '更深一層瞭解日本人的生活習慣' }
          ]
        }
      ],
      teachers01: [
        { img_url: require('@/assets/images/livetalk/teacher-1.png'),
          name: 'Allana',
          annotation: '來自紐西蘭，身為一個熱情的語言學習者和老師，我想幫助你的英語學習之旅！',
          text: 'Hi, everyone! My name is Allana, but you can call me Teacher Lana. I was born and raised in New Zealand, where I was a teacher at two daycare centers. I enjoy travelling, going to the gym, getting out into nature, watching movies, and being surrounded by students. In 2017 I moved to Canada and became an online English tutor. I am now living in Taiwan with my husband and have learned that knowing different languages is such a powerful tool. This drives me to become a passionate language learner and teacher, and I want to help you on your English-learning journey! See you in my class!'
        },
        { img_url: require('@/assets/images/livetalk/teacher-2.png'),
          name: 'Terry',
          annotation: '來自美國印第安納州，曾任職LiveABC擔任資深編輯要職，15年以上英語教學經驗',
          text: 'Terry has a long history with LiveABC and is very excited to enter the world of online education with them. He has been English Teaching abroad for over 15 years. Terry is from Indiana in the United States. He taught Math and Reading in Elementary School and Theater in High School. Terry has an Associate’s Degree in Television Production from Vincennes University and a Bachelor’s Degree in Business Marketing from Ball State University. Terry is married and has a teenage daughter. He believes that everyone should experience living abroad and has just returned to Asia after a short hiatus to raise his family here.'
        },
        { img_url: require('@/assets/images/livetalk/teacher-3.png'),
          name: 'Carol Hsiao',
          annotation: '加州州立大學長堤分校畢業，主修英語教學，擅長教授多益與全民英檢',
          text: ' Hi, everyone, my name is Carol. I graduated from CSULB, and majored in TESOL, which stands for Teaching English to Speakers of Other Languages. I started teaching in 2008 right after I moved back to Taiwan. It’s always been fun teaching English, interacting with students and learning with them. I’ve taught various courses, from Basic English to Business English, and my specialty is teaching test preparation courses, such as TOEIC and GEPT. I’m a very active and easy-going person, and like to share thoughts with others. So don’t be shy and come and enjoy the learning time with me in my class!'
        }
      ],
      teachers02: [
        { img_url: require('@/assets/images/livetalk/teacher-4.png'),
          name: '五十嵐老師',
          annotation: '主要教授：初級會話',
          child: [
            { text: '上班族專屬英語課程，幫你快速具備職場英語實力' },
            { text: '包括簡報、開會、合約洽談等常見的商場英語會話' },
            { text: '提升英語能力，增加職場競爭力' }
          ]
        },
        { img_url: require('@/assets/images/livetalk/teacher-5.png'),
          name: '五月女老師',
          annotation: '主要教授：五十音',
          child: [
            { text: '以流行趨勢與時事話題為主題，透過生活情境建立 口說自信' },
            { text: 'GEPT初級，A1-A2程度者，累積字彙1200字以上' }
          ]
        },
        { img_url: require('@/assets/images/livetalk/teacher-6.png'),
          name: 'Angie',
          secondName: 'Canadian',
          annotation: '',
          child: [
            { text: '以實用知識、流行趨勢與時事話題為主題，提升日常 生活英語會話能力' },
            { text: '適合GEPT中級，A2-B1程度者，累積字彙2500字' }
          ]
        }
      ],
      teachers03: [
        { img_url: require('@/assets/images/livetalk/teacher-7.png'),
          name: 'Matt',
          secondName: 'South African',
          annotation: 'TOEIC高分實戰課程',
          child: [
            { text: '完整剖析新制多益測驗題型，包含圖表、句意、篇 章結構等所有題型，專業的TOEIC老師為學員解析 答題拿分技巧。' }
          ]
        },
        { img_url: require('@/assets/images/livetalk/teacher-8.png'),
          name: 'Nikita',
          secondName: 'Chinese',
          annotation: '',
          child: [
            { text: '搭配當月熱門主題、辦公室、職場等實用英語。' },
            { text: '訓練職場英語聽說能力、商業書信寫作能力。' },
            { text: '商業字彙、用語、片語相關用法完整解析。' }
          ]
        },
        { img_url: require('@/assets/images/livetalk/teacher-9.png'),
          name: 'Matthew',
          secondName: 'American',
          annotation: '',
          child: [
            { text: '生活常用單字及基本對話' },
            { text: '熟悉50音、平假名或片假名寫法' },
            { text: '更深一層瞭解日本人的生活習慣' }
          ]
        }
      ]
    }
  },
  components: {
  },
  mixins: [
  ],
  computed: {
  },
  mounted () {
    // this.nav()
  },
  updated () {
  },
  methods: {
    nav () {
      var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0)
      if ($navbarBurgers.length > 0) {
        $navbarBurgers.forEach(function ($el) {
          $el.addEventListener('click', function () {
            var $target = document.getElementById('main-nav')
            $target.classList.toggle('hidden')
          })
        })
      }
    },
    scrollTo (property) {
      let self = this
      let anchor = self.$refs['Anchor' + property]
      jump(anchor, {
        duration: 800,
        offset: -110
      })
      self.isHamMenu = false
    }
  }
}
</script>

<style lang="scss" scoped>
.max-w-7xl {
  max-width: 84rem;
}
.bg-red-livetalk {
  background: #FF0A0A;
}
.text-black-livetalk {
  color: #161616;
}
.text-red-livetalk {
  color: #F8002D;
}
.main-body {
  padding-top: 96px;
  @media (max-width: 768px) {
    padding-top: 74px;
  }
}

header {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  .menu-item {
    &:hover {
      color: #CD2222;
    }
  }
}
.course-features {
  ul {
    li {
      list-style: none;
      position: relative;
      padding-left: 1rem;
    }

    li:before {
      content:"·";
      font-size: 1.4rem;
      position: absolute;
      left: 0px;
      transform: translateY(-10%);
    }
  }
}
#teacher {
  .name {
    position: relative;
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #303030;
      bottom: 2px;
    }
  }
}
// table
table {
  border-spacing: 0;
}
.buyBtn {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 56%), #010000;
  border: 2px solid #8E8484;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.69);
  border-radius: 503px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
</style>
