@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";
.min-h-50 {
  min-height: 50vh;
}
.max-w-7xl {
  max-width: 84rem;
}
.showError {
  opacity: 1 !important;
}

.event-container {
  max-width: 1280px;
  padding: 0 3.84615%;
}
.isNoticeHead {
  margin-top: 180px;
  @media (max-width: 768px) {
    margin-top: 190px;
  }
  @media (max-width: 425px) {
    margin-top: 211px;
  }
}
.mainBody {
  margin-top: 120px;
  @media (max-width: 768px) {
    margin-top: 108px;
  }
}
// ProductModule
.progressive-image-main {
  height: 100% !important;
}
.PLAN-item {
  .progressive-image-main {
    filter: drop-shadow(8px 8px 1px rgba(0, 0, 0, 0.4)) !important;
  }
}

@media (min-width: 1024px) {
  .max-w-index {
    max-width: 85vw;
  }
}
.text-NotoSansLight {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 300;
}
.text-NotoSansRegular {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 400;
}
.text-NotoSansBold {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 500;
}

// color
.textColorPink {
  color: #EF5559;
}
.textColorwhite {
	color: #ffffff !important;
}
.text-LightGray {
	color: #C4C4C4 !important;
}
.textColorgray {
	color: #959595 !important;
}
.textColorwhiteGray {
	color: #c7c7c7 !important;
}
.textColorblack {
	color: #434343 !important;
}
.textColorDark {
  color: #505050 !important;
}
.textColorDarkBlack {
  color:  #4B4B4B !important;
}
.textColorBlue {
  color: #2C3E50 !important;
}
.textColorRed {
	color: #e60012 !important;
}
.textColor-searchBar {
	color: #898989 !important;
}
.text-pinky {
  color: #f89595 !important;
}
.text-brown {
  color: #9B846A !important;
}
.text-successGreen {
  color: #5cb85c !important;
}
.text-dark-Gray {
  color: #362E2B;
}
// bg
.bgLiveABCRed {
  background-color: #e60012 !important;
}
.bgLiveGray {
  background-color: #c7c7c7 !important;
}
.bgLiveGray-searchBar-mobile {
  background-color: #C4C4C4 !important;
}
.bgLiveBlue {
  background-color: #2C3E50 !important;
}
.bgLiveBlack {
  background-color: #434343 !important;
}
.bgLiveMainBlack {
  background-color: #4B4B4B !important;
}
.bgLiveMeuu {
  background:#333333f2;
}
.bgLiveFooter {
  background:#2d3039;
}

// font weight
.textWeightBig {
	font-size: 18px;
}
.textWeightMed {
	font-size: 14px;
}
.textWeightSmall {
	font-size: 12px;
}
// font-size
.text-s {
  font-size: 13px !important;
}
.text-md {
  font-size: 15px !important;
}

// border
.borderLivePink {
  border-color: #EF5559;
}
.borderOrange {
  border-color: #FA5528;
}
.borderRed {
	border-color: #e60012 !important;
}
.bordercheckout {
	border-color: #C4C4C4 !important;
}
.borderColorgray {
	border-color: #959595 !important;
}
.borderColordarkgray {
	border-color: #434343 !important;
}
.borderColordarkgray2 {
	border-color: #c7c7c7 !important;
}
.borderColorGray {
	border-color: #c7c7c7 !important;
}
.borderColorDarkGray {
	border-color: #4B4B4B !important;
}
.border-member-form {
  border: 1px solid #4B4B4B;
  &:focus {
    border: 2px solid #4B4B4B !important;
  }
}

// button
.button-red {
  background-color: #D63031;
  transition: 0.3s;
  &:hover {
    background-color: #872122;
  }
  &:focus {
    outline: none !important;
  }
}
.button-black {
  transition: 0.3s;
  background-color: white;
  color: #484848;
  border: 1px solid #484848;
  &:hover {
    background-color: #484848;
    color: white;
  }
  &:focus {
    outline: none !important;
  }
}
.button-gray {
  background-color: white;
  border-color: #434343;
  color: #434343;
  transition: 0.3s;
  &:hover {
    background-color: #434343;
    border-color: white;
    color: white;
  }
  &:focus {
    outline: none !important;
  }
}

img[lazy=loading] {
  width: 50px !important;
  height: 50px !important;
  margin: 3.5rem auto;
}