// sweat-alert
// .swal2-title {
//   font-size: 20px !important;
//   font-family: 'NotoSansTC-Light' !important;
//   color: #4B4B4B;
// }
// .swal2-html-container {
//   font-size: 16px !important;
//   color: #4B4B4B !important;
//   font-family: 'NotoSansTC-Light' !important;
// }
// .swal2-confirm {
//   background-color: #e60012 !important;
//   font-size: 14px;
//   font-family: 'NotoSansTC-Light' !important;
// }
// .swal2-cancel {
//   background-color: gray !important;
//   font-size: 14px;
//   font-family: 'NotoSansTC-Light' !important;
// }