/* NotoSansTC */
/* @font-face {
  font-family: 'NotoSansTC-Light';
  src: url('./NotoSansTC-Light.otf');
}
@font-face {
  font-family: 'Noto Sans TC', sans-serif;
  src: url('./NotoSansTC-Regular.otf');
}
@font-face {
  font-family: 'NotoSansTC-Bold';
  src: url('./NotoSansTC-Bold.otf');
} */